<div>
  <h4>Log Files</h4>
  <table {{> bootstrap-table}} >
    <thead>
      <tr>
        <th data-sortable="true" data-field="index">index</th>
        <th data-sortable="true" data-field="message">Name</th>
      </tr>
    </thead>
    <tbody>
    {{#each files}}
      <tr>
        <td>
          <button type="submit" class="btn btn-danger btn-xs" form="deleteform{{@index}}">Delete</button> : {{@index}}</td>
        <td><a href="/admin/logviewer-{{name}}">{{name}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{#each files}}
    <form id="deleteform{{@index}}" action="/admin/logdelete" method="POST" onsubmit="return confirm('Are you sure you want to delete {{name}}. This can not be undone!')">
        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <input type="hidden" name="name" value="{{name}}">
    </form>
{{/each}}
