<h2>{{fullName}} -{{#if access.edit}} <a href="/location/datacenter/edit-{{abbreviation}}">{{abbreviation}}</a>{{else}}{{abbreviation}}{{/if}}</h2>
{{#if foundingCompany}}{{foundingCompany}}{{/if}}
<br>
<hr>
<div class="racks">
    <h4>{{#if access.edit}}<a href="/location/datacenter/contact~{{id}}-new">Contacts</a>{{else}}Contacts{{/if}}</h4>
    <ul id="eachUl"class="list-unstyled"> 
        {{#each contacts}}
            <li>
            <div class="row">
                <div class="col-sm-9">
                <address>
                <strong>{{#if conName}}{{#if ../../access.edit}}<a href="/location/datacenter/contact~{{../../id}}-{{conId}}">{{conName}}</a>{{else}}{{conName}}{{/if}}<br>{{/if}}</strong>
                {{#if conType}}{{conType}}<br>{{/if}}
                    <div class="row">
                        <div class="col-xs-8 col-sm-6">
                        {{#if conURL}}<a href="http://{{conURL}}" target="_top">{{conURL}}</a><br>{{/if}}
                        {{#if conPho1Num}}{{conPho1Num}} - {{conPho1Typ}}<br>{{/if}}
                        {{#if conPho2Num}}{{conPho2Num}} - {{conPho2Typ}}<br>{{/if}}
                        {{#if conPho3Num}}{{conPho3Num}} - {{conPho3Typ}}<br>{{/if}}
                        {{#if conPho4Num}}{{conPho4Num}} - {{conPho4Typ}}<br>{{/if}} 
                        {{#if conEmail}}<a href="mailto:{{conEmail}}" target="_top">{{conEmail}}</a><br>{{/if}}
                        {{#if conNotes}}<div class="col-md-6"> <strong>Notes:</strong> {{conNotes}}</div>{{/if}}
                        {{#if address1}}{{address1}}<br>{{/if}}
                        {{#if address2}}{{address2}}<br>{{/if}}
                        {{#if address3}}{{address3}}<br>{{/if}}
                        {{#if address4}}{{address4}}<br>{{/if}}
                        {{#if city}}{{city}}, {{state}} {{zip}}<br>{{/if}}
                        {{#if country}}{{country}}<br>{{/if}}
                        {{#if lat}}<a href="https://www.google.com/maps/place/{{lat}},{{lon}}">Map</a><br>{{/if}} 
                        </div>
                        <div class="col-xs-8 col-sm-6">
                                               
                        </div>
                    </div>
                                       
                    
                </address>
                </div>
            </div>
            </li><br>
        {{/each}}
        </ul>
        {{#if access.edit}}
            <input form="formNewEquip" type='submit' class='btn btn-success btn-xs' formmethod="get" novalidate value='New Equipment' formaction='/equipment/new'>
            <input form="formNewSyst" type='submit' class='btn btn-success btn-xs' formmethod="get" novalidate value='New Systems' formaction='/system/+new+'>
            <form id="formNewEquip"></form>
            <form id="formNewSyst"></form>
        {{/if}}
        
        
    <hr>        
    <h4>{{#if access.edit}}<input type='submit' class='btn btn-warning btn-xs' formaction='/location/datacentercage/edit-{{id}}' form="formEdit" formmethod="get" value='E'>{{/if}}Cages</h4>
    
    
    <form id=formEdit></form>


    
    
    
    <ul id="eachUl"class="list-unstyled"> 

        {{#each cages}}
            <li>
            <strong>{{cageNickname}}</strong><br> 
            <strong>Code: {{cageAbbreviation}}</strong><br>
            <strong>Facility name: {{cageName}}</strong><br>
            {{#if cageInMeters}}Cage in Meters: {{cageInMeters}} - Feet: {{cageInFeet}}<br>{{/if}}
            {{#if cageWattPSM}}Watts Per Sq. Meter: {{cageWattPSM}} - Foot:{{cageWattPSF}}<br>{{/if}}
            {{#if cageMap}}Cage Map: <a href="{{cageMap}}" target="_blank"> Link</a><br>{{/if}}
            {{#if cageNotes}}Notes:{{cageNotes}}<br>{{/if}}
            <br>
            <ul id="racksUl" class="list-unstyled">
            {{#if ../access.edit}}<li>
            <input form="formNewRack{{@index}}" type='submit' class='btn btn-success btn-xs' formmethod="get" novalidate value='New Rack' formaction='/location/rack/newrack~{{dcid}}-{{id}}'>
            <form id="formNewRack{{@index}}"></form>
            </li>{{/if}}
            <li>
            
            </li>
            </ul>
            </li><br>
        {{/each}}
    </ul>
    <hr>
    <h4>Racks</h4>
        {{> location/rack-list}}
   
    <hr>
    <h4>{{#if access.edit}}<a href="/location/network/{{id}}-new">Networks</a>{{else}}Networks{{/if}}</h4>
        {{> location/network-list}}
    <hr>
    <h4>{{#if access.edit}}<a href="/location/datacenterpower/edit-{{id}}">Power Mains</a>{{else}}Power Mains{{/if}}</h4>
    <ul id="powerUl" class="list-unstyled">    
        {{#each powerNames}}
        <li>
        <a href="/location/datacenterpower/show-{{this}}">{{this}}</a><br>
        </li>
        {{/each}}
    </ul>
    Datacenter Created On: {{createdOn}}
    
</div>


