<h2>{{name}}</h2>

<div class="datacenter">
<p>{{{address}}}<br>
{{city}}, {{state}} {{zip}}<br>
<a href="https://www.google.com/maps/place/{{lat}},{{lon}}">Find on Google</a><br>
Created On: {{crOn}}</p>


</div>

