<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/location/datacenter/list">Datacenters</a></li>
  <li><a href="/location/datacenter/{{abbreviation}}">{{abbreviation}}</a></li>
  <li>Edit Cages<li>
</ol>
<h2>{{fullName}} - {{abbreviation}}</h2>
{{#if foundingCompany}}{{foundingCompany}}{{/if}}<br>


<script>
$('form#datacenterForm').serializeJSON();
</script>

<div class="datacenter">


<div class="formContainer">
    <form id="datacenterForm"class="form-horizontal datacenterForm" role="form" action="/location/datacentercage/{{abbreviation}}" method="POST">
		<input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <input type="hidden" name="id" value="{{id}}">
        <input type="hidden" name="abbreviation" value={{abbreviation}}>

    <ul id="eachUl"class="list-unstyled">   
        {{#each cages}}

        <li id="eachLi-{{@index}}" class="eachLi">
        <hr>
        <input type="hidden" name="index" value={{@index}}>
        <input type="hidden" name="cageId" value="{{id}}">
        <div class="form-group">
            <label for="fieldcageNickname" class="col-sm-2 control-label">Nickname</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldcageNickname{{@index}}" name="cageNickname"  value="{{cageNickname}}">
            </div>
        </div>         
        <div class="form-group">
            <label for="fieldcageName" class="col-sm-2 control-label">Facility ID</label>
            <div class="col-sm-4">
                <input type="text" class="form-control"  id="fieldcageName{{@index}}" name="cageName"value="{{cageName}}">
            </div>
        </div>
        <div class="form-group">
            <label for="cageInMeters" class="col-sm-2 control-label">Cage size in Meters</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldcageInMeters{{@index}}" name="cageInMeters"  value="{{cageInMeters}}">
            </div>
        </div>
        <div class="form-group">
            <label for="cageWattPSM" class="col-sm-2 control-label">Watts Per Square Meter</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="cageWattPSM{{@index}}" name="cageWattPSM"  value="{{cageWattPSM}}">
            </div>
        </div>          
        <div class="form-group">
            <label for="cageNotes" class="col-sm-2 control-label">Cage Notes</label>
            <div class="col-sm-4">
                <textarea rows="3" class="form-control" id="fieldcageNotes{{@index}}" name="cageNotes">{{cageNotes}}</textarea>
            </div>
        </div>
        
        </li>
        {{/each}}

    </ul>
         
  
    
     <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                        <button type="button" class="btn btn-default" value="Add Another" onclick="addField('eachUl','eachLi-',10);">+ 1</button>  
                        <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
     </form>
</div>
</div>

 <script language="Javascript" type="text/javascript">
<!--
//Add more fields dynamically.
function addField(area,field,limit) {
	if(!document.getElementById) return; //Prevent older browsers from getting any further.
	var field_area = document.getElementById(area);
	var all_inputs = field_area.getElementsByClassName("eachLi"); //Get all the input fields in the given area.
	//Find the count of the last element of the list. It will be in the format '<field><number>'. If the 
	//		field given in the argument is 'friend_' the last id will be 'friend_4'.
	var last_item = all_inputs.length - 1;
	var last = all_inputs[last_item].id;
	var count = Number(last.split("-")[1]) + 1;
	
	//If the maximum number of elements have been reached, exit the function.
	//		If the given limit is lower than 0, infinite number of fields can be created.
	if(count > limit && limit > 0) return;
 	
	if(document.createElement) { 
		 //Older Method
		field_area.insertAdjacentHTML('beforeend', '<li id="eachLi-'+(count)+'" class="eachLi"><input type="hidden" name="index" value='+(count)+'><hr><div class="form-group"><label for="fieldcageNickname" class="col-sm-2 control-label">Nickname</label><div class="col-sm-4"><input type="text" class="form-control" id="fieldcageNickname'+(count)+'" name="cageNickname" placeholder="Known As"></div></div><div class="form-group"><label for="fieldcageName" class="col-sm-2 control-label">Facility ID</label><div class="col-sm-4"> <input type="text" class="form-control"  id="fieldcageName'+(count)+'" name="cageName" placeholder="Facility ID *Required"></div></div><div class="form-group"><label for="cageInMeters" class="col-sm-2 control-label">Cage size in Meters</label> <div class="col-sm-4"><input type="text" class="form-control" id="fieldcageInMeters'+(count)+'"name="cageInMeters" placeholder="Cage Size in Meters"></div></div><div class="form-group"><label for="cageWattPSM" class="col-sm-2 control-label">Watts Per Square Meter</label><div class="col-sm-4"><input type="text" class="form-control" id="cageWattPSM'+(count)+'" name="cageWattPSM" placeholder="Watts sq. Meter"></div></div><div class="form-group"> <label for="cageNotes" class="col-sm-2 control-label">Cage Notes</label><div class="col-sm-4">        <textarea rows="3" class="form-control" id="fieldcageNotes'+(count)+'" name="cageNotes" placeholder="Notes"></textarea></div></div></li>');
	}
}
//-->
</script> 