
<h2>{{#if abbreviation}}{{fullName}} - {{abbreviation}}{{else}}New{{/if}}</h2>
{{#if foundingCompany}}{{foundingCompany}}<br>{{/if}}
<hr>


<div class="formContainer">
    <form id="datacenterForm" class="form-horizontal datacenterForm" role="form" action="/location/datacenterpost" method="POST">
		<input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <input type="hidden" name="id" value="{{id}}">
        
        <div class="form-group">
            <label for="fieldFullName" class="col-sm-2 control-label">Full Name *</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldFullName" name="fullName" value="{{fullName}}" placeholder="Name (required!)" data-toggle="tooltip" data-delay='{"show":1500}' required title="Full Name of the Data Center is required. This is normally the name given by the facility operator.">
            </div>
        </div>
        {{#if abbreviation}}
        <div class="form-group">
            <label for="fieldAbbreviation" class="col-sm-2 control-label">Code</label>
            <div class="col-sm-4">
        <input type="hidden" name="abbreviation" value="{{abbreviation}}">
        {{abbreviation}}<br>
            </div>
        </div>
        {{else}}
        <div class="form-group">
            <label for="fieldAbbreviation" class="col-sm-2 control-label">Code</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldAbbreviation" name="abbreviation"  value="{{abbreviation}}"placeholder="Abbreviation" data-toggle="tooltip" data-delay='{"show":1500}' required title=An abbreviation is required. It should be short, unique and as descriptive as possible.">
            </div>
        </div>
        {{/if}}
        <div class="form-group">
            <label for="fieldFoundingCompany" class="col-sm-2 control-label"  >Founding Company</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldFoundingCompany" name="foundingCompany"  value="{{foundingCompany}}"placeholder="Founding Company" data-toggle="tooltip" data-delay='{"show":1500}' required title="Founding company is required. It is typically your company name.">
            </div>
        </div>       
     <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                {{#if access.edit}}
                <button type="submit" class="btn btn-danger btn-xs  assetFormSubmit" value='Submit'><span class="glyphicon glyphicon-save"></span> Save</button>
                {{/if}}       
                <button type="reset" class="btn btn-danger btn-xs"value="Reset"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
                
                <a href="#" onclick="document.getElementById('cancelForm').submit();return false;">
                    <button type="button" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel</button></a>
                {{#if id}}{{#if access.root}}<button type="submit" class="btn btn-danger btn-xs" form="deleteform">Delete</button>{{/if}}{{/if}}
            </div>
        </div>
     </form><form id="cancelForm" role="form" action="/location/datacenter/{{#if abbreviation}}{{abbreviation}}{{else}}list{{/if}}" method="GET"></form> 


            <form id="deleteform" action="/location/datacenterdelete/{{abbreviation}}" method="POST" onsubmit="return confirm('Are you sure you want to delete {{abbreviation}}. This operation can not be undun')">
            <input type="hidden" name="_csrf" value="{{_csrfToken}}">
            <input type="hidden" name="id" value="{{id}}">
            <input type="hidden" name="abbreviation" value="{{abbreviation}}">
            <input type="hidden" name="collectionName" value="datacenter">
            </form>

     
     
     
</div>