<h2>{{fullName}} - {{abbreviation}}</h2> {{#if access.delete}}
<a href="/location/datacenter/edit-{{abbreviation}}" <span class="glyphicon glyphicon-pencil glyphicon-danger" title="Change Data Center Name or Company"></span>
</a>
{{/if}} {{#if foundingCompany}}{{foundingCompany}}{{/if}}
<br>
<hr>
<div class="racks">
 
    
    <div class="panel panel-default"> <!-- report accordion -->
      <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Production: In Service by Environment</a>
        </h4>
      </div> <!-- panel heading -->
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          {{> assets/report-inservice-env}}
        </div> 
      </div> <!-- collapse1 -->
    </div> <!-- report accordion -->

    <div class="panel panel-default"> <!-- contacts accordion -->
      <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">
        Contact</a>
        </h4>
      </div> <!-- panel heading -->
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
        {{> location/contacts}}
        </div>
      </div> <!-- collapse2 -->
    </div> <!-- contacts accordion -->

    <div class="panel panel-default"> <!-- cages accordion -->
      <div class="panel-heading">
       <h4 class="panel-title">
       <a data-toggle="collapse" href="#collapse3">
        Cages</a>
       </h4>

      </div> <!-- panel heading -->
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          {{#if access.edit}}
         <form id="cageEditForm" role="form" action="/location/datacentercage/edit-{{id}}" method="GET"></form>
          <a href="#" onclick="document.getElementById('cageEditForm').submit();return false;">
          <button type="button" class="btn btn-danger btn-sm">
          <span class="glyphicon glyphicon-edit"></span> Cages</button>
          </a>
          {{/if}}
        
          {{> location/cages}}
        </div>
      </div> <!-- collapse3 -->
    </div> <!-- cages accordion -->

    <div class="panel panel-default"> <!-- racks accordion -->
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse4">
          Racks</a>
        </h4>
      </div> <!-- panel heading -->
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
          {{> location/rack-list}}
        </div>
      </div> <!-- collapse4 -->
    </div> <!-- racks accordion -->

    <div class="panel panel-default"> <!-- networks accordion -->
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse5">
          Networks</a>
        </h4>
      </div> <!-- panel heading -->
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
          {{#if access.edit}}
          <form id="networkAddForm" role="form" action="/location/network/{{id}}-new" method="GET"></form>
          <a href="#" onclick="document.getElementById('networkAddForm').submit();return false;">
          <button type="button" class="btn btn-danger btn-sm">
          <span class="glyphicon glyphicon-plus"></span> Networks</button>
          </a>
          {{/if}}
          {{> location/network-list}}
        </div>
      </div> <!-- collapse5 -->
    </div> <!-- networks accordion -->
      
    <div class="panel panel-default"> <!-- power accordion -->
      <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse6">
            Power Mains</a>
          </h4>
      </div> <!-- panel heading -->
      <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body">
            {{#if access.edit}}
            <form id="powerEditForm" role="form" action="/location/datacenterpower/edit-{{id}}" method="GET"></form>
            <a href="#" onclick="document.getElementById('powerEditForm').submit();return false;">
            <button type="button" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-edit"></span> Power Mains</button>
            </a>
            {{/if}}
            <ul id="powerUl" class="list-unstyled">
            {{#each powerNames}}
            <li>
            {{#if access.delete}}<a href="/location/datacenterpower/show-{{this}}">{{this}}</a>{{else}}{{this}}{{/if}}
            <br> {{!-- Need to look into this, have not started using this feature yet --}}
            </li>
            {{/each}}
            </ul>
          </div>
      </div> <!-- collapse6 -->
    </div> <!-- power accordion -->


 
    Datacenter Created On: {{createdOn}}
</div>
