{{#if access.delete}}
            <form id="datacenterAddForm" role="form" action="/location/datacenter/edit-new" method="GET"></form>
                <a href="#" onclick="document.getElementById('datacenterAddForm').submit();return false;">
                    <button type="button" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Datacenters</button></a>
        {{else}}<h4>Datacenters</h4>{{/if}}


<div id="datacenter">
  <table {{> bootstrap-table}} >
    <thead>
      <tr>
        <th data-sortable="true" data-field="name">Name</th>
        <th data-sortable="true" data-field="code">Code</th>
        <th data-sortable="true" data-field="foundingCompany">Company</th>
        <th data-sortable="true" data-field="city">City</th>
        <th data-sortable="true" data-field="country">Country</th>
      </tr>
    </thead>
    <tbody>
    {{#each datacenters}}
      <tr>
        <td><a href="/location/datacenter/{{abbreviation}}">{{fullName}}</a></td>
        <td><a href="/location/datacenter/{{abbreviation}}">{{abbreviation}}</a></td>
        <td>{{foundingCompany}}</td>
        <td>{{city}}</td>
        <td>{{country}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

