

{{#each systemPorts}}
{{#if sysPortisNetMgmt}}
{{#if dcNet.dcNetDomain}}
<div class="col-md-8" >
<h5>Avocent ACS6000 from bare metal</h5>
<blockquote>
<ol>

<li>Update the firmware and reset to factory settings by connecting to the console port and running the following. This will remove any previous settings.</li>
<li>To determine the current version, run the following from the cli-> prompt:
    <code>
        <ul class="list-unstyled"> 
        <li>show system/information</li>
        </ul>
    </code>
    <ul class="list-unstyled">
    <li>Note: If the unit is pre v3, you must first update to version v2.5.0.11.FL0585-032.bin and then update to v3.</li>
    <li>Note: Avocent have a nasty habit of switching boot images unexpectedly on reboots. You can see the boot image during boot up just after the 5 second pause as "Booting from image #1 ...". If you miss it, run the following commands from the cli-> prompt to check that it is running on "image = image_1" and change the boot image back to image_1:
    <code>
    <li>show system/boot_configuration/</li>
    <li>cd system/boot_configuration</li>
    <li>set image=image_1</li>
    <li>commit</li>
    <li>reboot</li><br>
    </code>
    </ul>
</li>
<li> ACS Upgrades 
<ul  class="list-unstyled">
<li>Run this code from the preboot environment for <strong>unconfigured or broken</strong> ACS to update to latest version.<br>
<strong>Cation: this will reset the ACS to factory defaults:</strong>
    <code>
        <ul class="list-unstyled"> 
            <li>setenv ipaddr <strong>{{sysPortAddress}}</strong>;setenv subnetmask <strong>{{netMask}}</strong>;setenv gateway <strong>{{dcNet.dcNetGateway}}</strong>;setenv bootfile <strong>{{dcNet.dcNetACSFilePath}}</strong>;setenv serverip <strong>{{dcNet.dcNetTftpHost}}</strong>;setenv bootcmd net_boot;printenv</li><br>
            <li>net_boot factory_default</li><br>
        </ul>
    </code>
    The ACS will download the firmware and boot from it. When it comes back, log in with the default username/password (root/linux) and enter the following:<br>
    <code>
        <ul class="list-unstyled">
            <li>recover-flash.sh --doformat --factory_default</li>
            <li>reboot</li>
        </ul>
    </code>
    If the device was unrecoverable and new SSH keys are generated, you will need to remove the old key from your SSH known host file. Use the following command:<br>
    <code>
        <ul>
        <li>ssh-keygen -R <strong>{{../../../systemName}}</strong>.{{#if dcNet.dcNetDomain}}<strong>{{dcNet.dcNetDomain}}</strong>{{else}}<mark>Check Datacenter Network Domain</mark>{{/if}}</li>
        </ul>
    </code>
</li>
<li>Run this code to update a <strong>configured</strong> ACS to update to latest version:<br>
<ul  class="list-unstyled">
    Check the version and image, if it looks good, exit, upgrade and reboot:
    <code>
        <ul class="list-unstyled">
        <li>cli</li>
        <li>show /system/information</li>
        <li>show /system/boot_configuration</li>
        
        <li>exit</li>
        <li>tftp <strong>{{dcNet.dcNetTftpHost}}</strong> -g -r <strong>{{dcNet.dcNetACSFilePath}}</strong> -l /tmp/update.bin</li><br>
        <li>flashImage /tmp/update.bin</li><br>
        <li>reboot</li><br>
        </ul>
    </code>
    </ul>
</li>
</ul>
</li>

<li>After the upgrade, log in with the default root/linux and configure the networking:
    <code>
        <ul class="list-unstyled"> 
        <li>cli</li>
        <li>cd /network/settings</li>
        <li>set search={{#if dcNet.dcNetDomain}}<strong>{{dcNet.dcNetDomain}}</strong> domain=<strong>{{dcNet.dcNetDomain}}</strong>{{else}}<mark>Check Datacenter Network Domain</mark>{{/if}}</li>
<li>set hostname={{#if ../../../systemName}}<strong>{{../../../systemName}}</strong>{{else}}<mark>Check the system name</mark>{{/if}}</li>
        <li>set primary_dns={{#if dcNet.dcNetDns1}}<strong>{{dcNet.dcNetDns1}}</strong>{{else}}<mark>Check Datacenter Network DNS</mark>{{/if}}</li>
        <li>set secondary_dns={{#if dcNet.dcNetDns2}}<strong>{{dcNet.dcNetDns2}}</strong>{{else}}<mark>Check Datacenter Network DNS</mark>{{/if}}</li>
        <li>cd /network/devices/eth0</li>
        <li>set status=enabled</li>
        <li>set ipv4_method=static</li>
        <li>set ipv4_address={{#if sysPortAddress}}<strong>{{sysPortAddress}}</strong>{{else}}<mark>NetMgmt port has IP address</mark>{{/if}}</li>
        <li>set ipv4_mask={{#if netMask}}<strong>{{netMask}}</strong>{{else}}<mark>Check Datacenter Network config</mark>{{/if}}</li>
        <li>set ipv4_gateway={{#if dcNet.dcNetGateway}}<strong>{{dcNet.dcNetGateway}}</strong>{{else}}<mark>Check Datacenter Network config</mark>{{/if}}</li>
        <li>set ipv6_method=ipv6_address_unconfigured</li>
        <li>set mode=auto</li>
        <li>commit</li>
        <li>reboot</li><br>
        </ul>
    </code>
</li>
<li>Once it comes back, run in the following to configure the customizations like LDAP and CAS configs:
    <code>
        <ul class="list-unstyled">
            <li>echo off</li>
            <li>cd /system/security/security_profile</li>
            <li>batch_mode</li>
            <li>set idle_timeout=3600</li>
            <li>set rpc=no</li>
            <li>set port_access_per_user_group_authorization=no</li>
            <li>set bootp_enabled=no</li>
            <li>set security_profile=custom</li>
            <li>set enable_telnet_service=no</li>
            <li>set enable_ftp_service=no</li>
            <li>set enable_snmp_service=no</li>
            <li>set enable_ipsec=no</li>
            <li>set answer_icmp_message=yes</li>
            <li>set ssh_version=2</li>
            <li>set ssh_tcp_port=22</li>
            <li>set ssh_allow_root_access=yes</li>
            <li>set enable_http_session=yes</li>
            <li>set http_port=80</li>
            <li>set enable_https_session=yes</li>
            <li>set https_ssl_version=2|3</li>
            <li>set https_minimum_cipher_suite_level=medium</li>
            <li>set https_port=443</li>
            <li>set redirect_http|https=yes</li>
            <li>submit</li>
            <li>cd /system/security/dsview</li>
            <li>batch_mode</li>
            <li>set allow_appliance_to_be_managed_by_dsview.=no</li>
            <li>submit</li>
            <li>cd /system/date_and_time/date_and_time</li>
            <li>batch_mode</li>
            <li>set settings=enable_network_time_protocol</li>
            <li>set server={{#if dcNet.dcNetNTP1}}<strong>{{dcNet.dcNetNTP1}}</strong>{{else}}<mark>Check Datacenter Network config</mark>{{/if}}</li>
            <li>submit</li>
            <li>cd /system/date_and_time/time_zone</li>
            <li>batch_mode</li>
            <li>set time_zone=predefined</li>
            <li>set zone=us|pacific</li>
            <li>submit</li>
            <li>echo off</li>
            <li>cd /authentication/appliance_authentication</li>
            <li>batch_mode</li>
            <li>set authentication_type=ldap|local</li>
            <li>set enable_single_sign-on=yes</li>
            <li>set single_sign-on_authentication_type=ldap|local</li>
            <li>submit</li>
            <li>cd /authentication/authentication_servers/ldap(s)|ad</li>
            <li>batch_mode</li>
            <li>set server={{#if dcNet.dcNetLdap1}}<strong>{{dcNet.dcNetLdap1}}</strong>{{else}}<mark>Check Datacenter Network config</mark>{{/if}}</li>
            <li>set base={{#if dcNet.dcNetLdapString}}<strong>"{{dcNet.dcNetLdapString}}"</strong>{{else}}<mark>Check Datacenter Network config</mark>{{/if}}</li>
            <li>set secure=off</li>
            <li>submit</li>
            <li>commit</li>
            <li>cd /ports/serial_ports</li>
            <li>echo off</li>
            <li>set_cas -</li>
            <li>set enable_cisco_rj45_pin-out=no</li>
            <li>set speed=9600</li>
            <li>set parity=none</li>
            <li>set data_bits=8</li>
            <li>set stop_bits=1</li>
            <li>set flow_control=none</li>
            <li>cd cas</li>
            <li>set enable_auto_discovery=no</li>
            <li>set protocol=ssh</li>
            <li>set authentication_type=ldap|local</li>
            <li>save --cancelOnError</li>
            <li>echo on</li>
            <li>commit</li>
            <li>show</li>
            <li>reboot</li>
            <li>yes</li><br>
        </ul>
    </code>
</li>
<li>Configure the user names and passwords</li>
    <ul class="list-unstyled">
    <code>
        <li>cd /users/local_accounts/user_names</li>
        <li>edit admin</li>
        <li>set password=<mark><strong>(* replace with root password)</strong></mark></li>
        <li>set confirm_password=<mark><strong>(* replace with root password)</strong></mark></li>
        <li>save</li>
        <li>commit</li>
        <li>cd /users/local_accounts/user_names</li>
        <li>edit root</li>
        <li>set password=<mark><strong>(* replace with root password)</strong></mark></li>
        <li>set confirm_password=<mark><strong>(* replace with root password)</strong></mark></li>
        <li>save</li>
        <li>commit</li><br>
    </code>
    </ul>
<li>Use <a href="/endpoint/{{../../systemName}}"><strong>{{../../systemName}}</strong> as Endpoint</a> to configure the ports.</li>
</ol>
</blockquote>
</div>

{{else}}

<div class="col-md-6">
<blockquote>
<p><strong>If you expected an ACS Configuration, 
please check that the vlan exists for {{sysPortType}}-{{sysPortName}} on in this Data Center</strong></p>
</blockquote>
</div>
</div>
{{/if}}
{{/if}}
{{/each}}

