<div class="col-md-6">
<h5>{{systemName}} port config</h5>

    
        <ul class="list-unstyled">
        <blockquote>
        <li><strong>{{systemName}}</strong></li>
        <li>Location: <strong>{{equipLocation}}</strong></li>
        <li>SN: <strong>{{systemEquipSN}}</strong> - {{equipMake}} {{equipModel}} {{equipSubModel}} {{#if equipRUHieght}} {{equipRUHieght}}U {{/if}}{{equipType}}</li>
        <br>
        {{#each equipPorts}}
                {{#if equipPortsAddr}}
                <li>{{../../systemName}}-{{equipPortName}} : <strong>{{equipPortsAddr}}</strong></li>
                {{/if}}
        {{/each}}
        <br>
        <li>Power, Console and SAN______________________________</li>
        {{#each systemPorts}}
                {{#if sysPortisConsole}}
                <li>Console: <strong>{{sysPortEndPoint}}/{{sysPortEndPointPort}}</strong></li>
                <li> Cisco rj45 Pinout Option: <strong>{{sysPortOptions}}</strong></li>
                <li> Cable Path: <strong>{{sysPortCablePath}}</strong></li>
                <br>
                {{/if}}
        {{/each}}
        {{#each systemPorts}}
                {{#if sysPortisPower}}
                <li>Power: <strong>{{sysPortName}} {{sysPortEndPoint}}{{#if sysPortEndPointPre}}/{{sysPortEndPointPre}}{{/if}}/{{sysPortEndPointPort}}</strong></li>
                {{#if sysPortCablePath}}<li> Cable Path: <strong>{{sysPortCablePath}}</strong></li>{{/if}}
                <br>
                {{/if}}
        {{/each}}
        {{#each systemPorts}}
                {{#if sysPortisSAN}}
                <li>SAN: <strong>{{sysPortName}} {{sysPortEndPoint}}{{#if sysPortEndPointPre}}/{{sysPortEndPointPre}}{{/if}}/{{sysPortEndPointPort}}</strong></li>
                <li> Cable Path: <strong>{{sysPortCablePath}}</strong></li>
                <br>
                {{/if}}
        {{/each}}
        <li>Network ___________________________________________</li>
        {{#each systemPorts}}
                {{#if sysPortisEthernet}}
                <li>Port Label: <strong>{{../../systemName}}-{{sysPortName}}</strong></li>
                <li>Device/Port: <strong>{{sysPortEndPoint}}{{#if sysPortEndPointPre}}/{{sysPortEndPointPre}}{{/if}}/{{sysPortEndPointPort}}</strong></li>
                {{#if endPointAlias}}<li>AKA: <strong>{{endPointParent}}# int Eth{{endPointAlias}}{{#if sysPortEndPointPre}}/{{sysPortEndPointPre}}{{/if}}/{{sysPortEndPointPort}}</strong></li>{{/if}}
                {{#if sysPortVlan}}<li> Vlan: <strong>{{sysPortVlan}}</strong></li>{{/if}}
                {{#if sysPortVlan}}<li> Options: <strong>{{sysPortOptions}}</strong> </li>{{/if}}
                {{#if sysPortCablePath}}<li>Cable Path: <strong>{{sysPortCablePath}}</strong></li>{{/if}}
                {{#if sysPortAddress}}<li> IP: <strong>{{sysPortAddress}}</strong></li>{{/if}}
                {{#if sysPortURL}}<li> FQDN: <strong>{{sysPortURL}}</strong></li>{{/if}}
                <br>     
                {{/if}}
        {{/each}}
        {{#each systemPorts}}
                {{#if sysPortisNetMgmt}}
                <li>Port Label: <strong>{{../../systemName}}-{{sysPortName}}</strong></li>
                <li>Device/Port: <strong>{{sysPortEndPoint}}{{#if sysPortEndPointPre}}/{{sysPortEndPointPre}}{{/if}}/{{sysPortEndPointPort}}</strong></li>
                {{#if sysPortVlan}}<li> Vlan: <strong>{{sysPortVlan}}</strong></li>{{/if}}
                {{#if sysPortOptions}}<li> Options: <strong>{{sysPortOptions}}</strong> </li>{{/if}}
                {{#if sysPortCablePath}}<li> Cable Path: <strong>{{sysPortCablePath}}</strong> </li>{{/if}}
                {{#if sysPortAddress}}<li> IP: <a href='https://{{sysPortAddress}}'><strong>{{sysPortAddress}}</strong></a></li>{{/if}}
                {{#if sysPortURL}}<li> FQDN: <a href='https://{{sysPortURL}}'></strong>{{sysPortURL}}</strong></a></li>{{/if}}
                {{/if}}
        {{/each}}
        <li>__________________________________________________</li>
        </blockquote>
        </ul>
    </div>
