
  <div>
    {{#each systemPorts}}
      {{#if sysPortisNetMgmt}}
      <h5>Ilom Config</h5>
        <div class="col-xs-12 col-sm-6 col-md-6" style="border: 2px solid grey">
          <p><code>
          set /SP hostname=<strong>{{../../systemName}}-{{sysPortName}}</strong><br>
          cd /SP/network<br>
          set pendingipdiscovery=static<br>
          set pendingipaddress=<strong>{{sysPortAddress}}</strong><br>
          set pendingipnetmask=<strong>{{netMask}}</strong><br>
          set pendingipgateway=<strong>{{dcNet.dcNetGateway}}</strong><br>
          set commitpending=true<br>
          set /SP/services/ssh state=enabled<br>
          set /SP/services/https servicestate=enabled port=443<br>
          </code>
          </p>
        </div>
        <div class="col-xs-6 col-md-6"></div>  
      {{/if}}
    {{/each}}
  </div>
