{{!-- example output 
File: db.10.220.100
41      IN PTR      mon01-dc2.dc2.responsys.com.
--}}
<div class"row">
<h5>{{systemName}} dns config</h5>
    <div  style="border: 2px solid grey">
        <ul class="list-unstyled">
        {{#each systemPorts}}
                {{#if sysPorthasIPAddress}}
                <li>File: db.{{sysPortAdd3oct}}</li> {{!--  should show IP first 3 octets e.g. "db.10.220.100" --}}
                <li>{{sysPortAdd4thoct}}{{tab}}{{tab}}IN PTR{{../../systemName}}{{domain from network info}}.</li>
                {{/if}}
        {{/each}}
        {{/each}}
        </ul>
    </div>
</div>
