		<style type="text/css">
			svg {
				background-color: lightgray;
			}
		</style>

<h4>{{#if rackView}}Rack <a href="/location/rack/{{rackView}}">{{rackView}}</a> - {{/if}} Elevation</h4>
    
    <div class='container'> 
        Description: {{rackDescription}}<br>
        Status: {{rackStatus}}<br>
    </div>
    <div id="rack">
    </div>
    
    <script type="text/javascript">


            //Create SVG element
            var svg = d3.select("#rack")
                    .append("svg")
                    .attr("width", {{rackWidth}}*10)
                    .attr("height", ({{rackHeight}}*10)+10);
            var scale = d3.scale.linear(.5)
                   
            
            var j=1;           
            for(i={{rUs}};i>0;i--){
                
            svg.append("text")
				.attr("x", 6)
				.attr("y", (i*45)-20)
				.attr("fill", "black")
				.attr("font-size", 18)
				.text(j);
                j++;
            };        
                        

            {{#each eqs}}
                var rl = {{../rUs}}-{{equipLocationRu}};  //find the location by on ru
                var rc = rl*45;  //stretch that to fit
                var ht = 45*{{equipRUHieght}};
                var rf = rc-ht;  //subtract the total hight so it fits
                var ru = rf+45;
                var rw = {{../rackWidth}}*10;
                var ct = (rw-445)/2;
                var wt = 445;
                var bc = "black";
                var fc = "{{equipTypeColor}}";
                var fnt = 20;
                var sx = ct+10;
                var sy = ru+30;
                var sc = "black";
                var ex = ct+220;
                var ey = ru+30;
                var ec = "black";
                var cx = ct+205;
                var cy = ru+24;
                var cc = "{{equipStatusLight}}";
                 
             
                svg.append("rect")
                    .attr("x", ct)
                    .attr("y", ru)
                    .attr("width", wt)
                    .attr("height", ht)
                    .attr("stroke", "black")
                    .attr("fill", fc);

                svg.append("text")
                    .attr("x", sx)
                    .attr("y", sy)
                    .attr("fill", sc)
                    .attr("font-size", fnt)
                    .text("{{systemName}}")
                    .on("click", function() { window.open("/system/{{systemName}}"); });

                svg.append("text")
                    .attr("x", ex)
                    .attr("y", ey)
                    .attr("fill", ec)
                    .attr("font-size", fnt)
                    .text("{{equipSN}}")
                    .on("click", function() { window.open("/equipment/{{equipSN}}"); });
                
                svg.append("circle")
                    .attr("cx", cx)
                    .attr("cy", cy)
                    .attr("r","8")
                    .attr("fill", cc)
                    .append("title")
                    .text("{{equipStatus}}");
             {{/each}}
           
		</script>