<div class="rackcol"> 
<h4>{{#if rackView}}Rack <a href="/location/rack/{{rackView}}">{{rackView}}</a> - {{/if}}</h4>
        Description: {{rackDescription}}<br>
        Status: {{rackStatus}}<br>
    <div id="rack">
    </div>
    </div>
    <script type="text/javascript">

            //Create SVG element
            var u =22;
            var svg = d3.select("#rack")
                    .append("svg")
                    .attr("width", {{rackWidth}}*5)
                    .attr("height", u*{{rUs}});
                    //.attr("height", ({{rackHeight}}*4.69));

            var j=1;           
            for(i={{rUs}};i>0;i--){
                
            svg.append("text")
				.attr("x", 6)
				.attr("y", (i*u)-8)
				.attr("fill", "black")
				.attr("font-size", 12)
				.text(j);
                j++;
            };        

            {{#each eqs}}
              
                var rl = {{../rUs}}-{{equipLocationRu}};  //find the location by on ru
                var rc = rl*u;  //stretch that to fit
                var ht = u*{{equipRUHieght}};
                var rf = rc-ht;  //subtract the total hight so it fits
                var ru = rf+u;
                var rw = {{../rackWidth}}*5;
                var ct = (rw-222.5)/2;
                var wt = 222.5;
                var bc = "black";
                var fc = "{{equipTypeColor}}";
                var fnt = 12;
                var sx = ct+15;
                var sy = ru+15;
                var sc = "black";
                var ex = ct+218;
                var ey = ru+15;
                var ec = "black";
                var cx = ct+8;
                var cy = ru+12;
                var cc = "{{equipStatusLight}}";
                var cr = 4; 
{{#if fullRack}}var opc = {{fullRack}};{{/if}}
                
                svg.append("rect")
                    .attr("x", ct)
                    .attr("y", ru)
                    .attr("width", wt)
                    .attr("height", ht)
                    .attr("stroke", "black")
{{#if fullRack}}                .attr("fill-opacity", opc){{/if}}                  
                    .attr("fill", fc);
   
                svg.append("text")
                    .attr("x", sx)
                    .attr("y", sy)
                    .attr("fill", sc)
                    .attr("font-size", fnt)
                    .text("{{systemName}}")
                    .on("click", function() { window.open("/system/{{systemName}}"); });

                svg.append("text")
                    .attr("x", ex)
                    .attr("y", ey)
                    .attr("fill", ec)
                    .attr("font-size", fnt)
                    .text("{{equipSN}}")
                    .attr("text-anchor","end")
                    .on("click", function() { window.open("/equipment/{{equipSN}}"); });
                
                svg.append("circle")
                    .attr("cx", cx)
                    .attr("cy", cy)
                    .attr("r", cr)
                    .attr("fill", cc)
                    .append("title")
                    .text("{{equipStatus}}");
             {{/each}}
		</script>
        