
<h4>Equipment</h4>
  <table {{> bootstrap-table}} >
    <thead>
      <tr>
        <th data-sortable="true" data-field="equipLocation">Location</th>
        <th data-sortable="true" data-field="equipSN">SN</th>
        <th data-sortable="true" data-field="equipStatus">Status</th>
        <th data-sortable="true" data-field="equipType">Type</th>
        <th data-sortable="true" data-field="equipMake">Make & Model</th>
        <th data-sortable="true" data-field="equipReceived">Received</th>
        <th data-sortable="true" data-field="equipPONum">PO</th>
        <th data-sortable="true" data-field="equipProjectNum">Project</th>
        <th data-sortable="true" data-field="equipticketNumber">Ticket</th>
        <th data-sortable="true" data-field="modifiedOn">Modified</th>
        <th data-sortable="true" data-field="rackEdit">Edit<th>
      </tr>
    </thead>
    <tbody>
    {{#each eqs}}
      <tr>
        <td><a href="/location/rack/{{equipLocationRack}}">{{equipLocation}}</a></td>
        <td><a href="/asset/equipment/{{equipSN}}">{{equipSN}}</a></td>
        <td>{{{equipStatusLight}}}</td>
        <td>{{equipType}}</td>
        <td>{{equipMake}} {{equipModel}} {{equipSubModel}}</td>
        <td>{{equipReceived}}</td>
        <td>{{equipPONum}}</td>
        <td>{{equipProjectNum}}</td>
        <td>{{{equipInventoryStatus}}}</td>
        <td>{{modifiedOn}}</td>
        <td>{{> assets/equipment-e-c}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
