<div>    
<h4>{{#if rackView}}Rack <a href="/location/rack/{{rackView}}">{{rackView}}</a> - {{/if}}Equipment and Systems </h4>

<div id="dvData">
    
    <table id="toCSV" class="table-sort table-sort-search " style="overflow: scroll;">
        <thead>
            <tr>
                <th class="table-sort" data-sort="index"></th>
                <th class="table-sort" data-sort="equipLocation">DC_Cage_Rack_RU</th>
                <th class="table-sort" data-sort="systemName">System Name</th>
                <th class="table-sort" data-sort="systemStatus">Status</th>
                <th class="table-sort" data-sort="systemEnviron">Env</th>
                <th class="table-sort" data-sort="systemRole">Role</th>                
                <th class="table-sort" data-sort="equipSN ">Equipment SN</th>
                <th class="table-sort" data-sort="equipStatus">Status</th>
                <th class="table-sort" data-sort="makeModel">Make - Model</th>
                <th class="table-sort" data-sort="equipAcquisition">Acquisition</th> 
            </tr>
        </thead>
        <tbody class="list">
        {{#each eqs}}
            <tr>
                
                <td class="index">{{@index}}</tc>
                <td class="equipLocation"><a href="/location/rack/{{equipLocationRack}}">{{equipLocation}}</a></td>
                <td class="systemName"><a href="/system/{{systemName}}" target="_blank">{{systemName}}</a></td>
                <td class="systemStatus" >{{{systemStatus}}}</td>
                <td class="systemEnviron">{{systemEnviron}}</td>
                <td class="systemRole">{{systemRole}}</td>
                <td class="equipSN"><a href="/equipment/{{equipSN}}" target="_blank">{{equipSN}}</a></td>
                <td class="equipStatus">{{{equipStatusLight}}}</td>
                <td class="modifiedOn">{{equipMake}} {{equipModel}}</td>
                <td class="equipAcquisition">{{#if equipWarrantyMo}}<mark>{{equipAcquisition}}</mark>{{else}}{{equipAcquisition}}{{/if}}</td>
                
            </tr>  
        {{/each}}
  
        </tbody>
    </table>
        </div>
         {{> tocsvpartial }}
    </div>