
<h4>Equipment Ports</h4>
  <table {{> bootstrap-table}} >
    <thead>
      <tr>
        <th data-sortable="true" data-field="equipSN">Equipment</th>
        <th data-sortable="true" data-field="equipPortType">Type</th>
        <th data-sortable="true" data-field="equipPortName" data-order="asc">Name</th>
        <th data-sortable="true" data-field="equipPortsAddr">Address</th>
        <th data-sortable="true" data-field="equipPortsOpt">Options</th>
        <th data-sortable="true" data-field="createdOn">Created On</th>
        <th data-sortable="true" data-field="modifiedOn">Last Modified</th>
      </tr>
    </thead>
    <tbody>
    {{#each equipPorts}}
      <tr>
        <td><a href="/equipment/{{../equipSN}}">{{../equipSN}}</a></td>
        <td>{{equipPortType}}</td>
        <td>{{equipPortName}}</td>
        <td>{{equipPortsAddr}}</td>
        <td>{{equipPortsOpt}}</td>
        <td>{{createdOn}}</td>
        <td>{{modifiedOn}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>


