

<div>   <!-- equipsys-list.part1 --> 
<h4>{{#if rackView}}Rack <a href="/location/rack/{{rackView}}">{{rackView}}</a> - {{/if}}Equipment and Systems </h4>

<div> <!-- equipsys-list.part2 --> 
   
    <table data-toggle="table"
        data-field-order="asc"
        data-order="desc"
        data-search="true"
        data-classes="table table-hover table-no-bordered"
        data-striped="true"
        data-show-columns="true"
        data-toolbar-align="left"
        data-buttons-align="left"
        data-search-align="left"
        data-trim-on-search="false"
        data-show-toggle="true"
        data-show-export="true"
        data-show-pagination-switch="true"
        data-side-pagination="client"
        data-pagination="true"
        data-page-size="50"
        data-page-list="[10, 25, 50, 100, ALL]"
        showExport="true"
        exportDataType="all"
        >
        <thead>
            <tr>
                <th data-sortable="true" data-field="index">Index</th>
                <th data-sortable="true" data-field="equipLocation" data-order="asc">DC_Cage_Rack_RU</th>
                <th data-sortable="true" data-field="systemName">System Name</th>
                <th data-sortable="true" data-field="systemStatus" data-visible="false">Status</th>
                <th data-sortable="true" data-field="systemEnviron">Env</th>
                <th data-sortable="true" data-field="systemRole">Role</th>                
                <th data-sortable="true" data-field="systemTicket" data-visible="false">System Ticket</th>
                <th data-sortable="true" data-field="systemNotes" data-visible="false">System Notes</th>
                <th data-sortable="true" data-field="sysmodifiedOn" data-visible="false">Modified On</th>
                <th data-sortable="true" data-field="equipSN ">Equipment SN</th>
                <th data-sortable="true" data-field="equipStatus">Status</th>
                <th data-sortable="true" data-field="equipType" data-visible="false">Type</th>
                <th data-sortable="true" data-field="makeModel">Make - Model</th>
                <th data-sortable="true" data-field="equipAcquisition">Acquisition</th>
                <th data-sortable="true" data-field="equipPONum" data-visible="false">PO Number</th>
                <th data-sortable="true" data-field="equipInvoice" data-visible="false">Invoice</th>
                <th data-sortable="true" data-field="equipProjectNum" data-visible="false">Project Number</th>
                <th data-sortable="true" data-field="equipNotes" data-visible="false">Notes</th>
                <th data-sortable="true" data-field="equipmodifiedOn" data-visible="false">Modified On</th>
            </tr>
        </thead>
        <tbody>
        {{#each eqs}}
            <tr>
                
                <td>{{@index}}</td>
                <td><a href="/equipment-systems/{{equipLocationRack}}">{{equipLocation}}</a></td>
                <td><a href="/system/{{systemName}}" target="_blank">{{systemName}}</a></td>
                <td>{{{systemStatus}}}</td>
                <td>{{systemEnviron}}</td>
                <td>{{systemRole}}</td>
                <td>{{systemTicket}}</td>
                <td>{{systemNotes}}</td>
                <td>{{sysmodifiedOn}}</td>
                <td><a href="/equipment/{{equipSN}}" target="_blank">{{equipSN}}</a></td>
                <td>{{{equipStatusLight}}}</td>
                <td>{{equipType}}</td>
                <td>{{equipMake}} {{equipModel}} {{equipSubModel}}</td>
                <td>{{#if equipWarrantyMo}}<mark>{{equipAcquisition}}</mark>{{else}}{{equipAcquisition}}{{/if}}</td>
                <td>{{equipPONum}}</td>
                <td>{{equipInvoice}}</td>
                <td>{{equipProjectNum}}</td>
                <td>{{equipNotes}}</td>
                <td>{{equipmodifiedOn}}</td>
            </tr>  
        {{/each}}
  
        </tbody>
    </table>
   </div> <!-- /equipsys-list.part2 -->
</div> <!-- /equipsys-list.part1 --> 
