    
<h4>Equipment Ports</h4>
    <table class="table-sort table-sort-search">
        <thead>
            <tr>
                <th class="table-sort" data-sort="equipSN">Equipment</th>
                <th class="table-sort" data-sort="equipPortType">Type</th>
                <th class="table-sort" data-sort="equipPortName">Name</th>
                <th class="table-sort" data-sort="equipPortsAddr">Address</th>
                <th class="table-sort" data-sort="equipPortsOpt">Options</th>                
                <th class="table-sort" data-sort="createdOn">Created On</th> 
                <th class="table-sort" data-sort="modifiedOn">Last Modified</th>
            
            </tr>
        </thead>
        <tbody class="list">
        {{#each equipPorts}}
            <tr>
                <td class="systemName"><a href="/equipment/{{../equipSN}}">{{../equipSN}}</a></td>
                <td class="equipPortType">{{equipPortType}}</td>
                <td class="equipPortName">{{equipPortName}}</td>
                <td class="equipPortsAddr">{{equipPortsAddr}}</td>
                <td class="equipPortsOpt">{{equipPortsOpt}}</td>
                <td class="createdOn">{{createdOn}}</td>
                <td class="modifiedOn">{{modifiedOn}}</td>
           
            </tr>  
        {{/each}}
  
        </tbody>
    </table>
    
 