<div>
  <h4>System Ports</h4>
  <table {{> bootstrap-table}} >
    <thead>
      <tr>
        <th data-sortable="true" data-field="sysPortType">Type</th>
        <th data-sortable="true" data-field="sysPortName" data-order="dsc">Name</th>
        <th data-sortable="true" data-field="sysPortCablePath">Cable Path</th>
        <th data-sortable="true" data-field="sysPortEndPoint">End Point/Pre/Port</th>
        <th data-sortable="true" data-field="sysPortVlan">VLAN</th>
        <th data-sortable="true" data-field="sysPortOptions">Options</th>
        <th data-sortable="true" data-field="sysPortAddress">Address</th>
        <th data-sortable="true" data-field="sysPortURL">URL</th>
      </tr>
    </thead>
    <tbody>
      {{#each systemPorts}}
      <tr>
        <td>{{sysPortType}}</td>
        <td>{{sysPortName}}</td>
        <td>{{sysPortCablePath}}</td>
        <td><a href="/endpoint/{{sysPortEndPoint}}">{{sysPortEndPoint}}</a>{{#if sysPortEndPointPre}}/{{sysPortEndPointPre}}{{/if}}{{#if sysPortEndPointPort}}/{{sysPortEndPointPort}}{{/if}}</td>
        <td>{{sysPortVlan}}</td>
        <td>{{sysPortOptions}}</td>
        <td>{{sysPortAddress}}</td>
        <td><a href="{{sysPortURL}}" target="_blank">{{sysPortURL}}</a>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
