<div>
<h4>Systems</h4>
  <table {{> bootstrap-table}} >
    <thead>
      <tr>
        <th data-sortable="true" data-field="edit">Edit</th>
        <th class="table-sort" data-sort="systemName">System Name</th>
        <th class="table-sort" data-sort="systemStatus">System Status</th>
        <th class="table-sort" data-sort="systemEnviron">Environment</th>
        <th class="table-sort" data-sort="systemRole">Role</th>
        <th class="table-sort" data-sort="systemEquipSN">Equipment SN</th>
        <th class="table-sort" data-sort="systemTicket">Install Ticket</th>
        <th class="table-sort" data-sort="modifiedOn">System Mod</th>
      </tr>
    </thead>
    <tbody>
    {{#each sys}}
      <tr>
        <td class="edit">{{> assets/system-e-c}}</td>
        <td class="systemName"><a href="/system/{{systemName}}" target="_blank">{{systemName}}</a></td>
        <td class="systemStatus" >{{{systemStatus}}}</td>
        <td class="systemEnviron">{{systemEnviron}}</td>
        <td class="systemRole">{{systemRole}}</td>
        <td class="systemEquipSN"><a href="/equipment/{{systemEquipSN}}" target="_blank">{{systemEquipSN}}</a></td>
        <td class="systemTicket">{{{systemTicketLit}}}</td>
        <td class="modifiedOn">{{modifiedOn}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>


