<div class="navbar" >
  <div >
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle " data-toggle="dropdown">DCIT  {{user.local.email}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/">Home</a></li>
            {{#if access.read}}
                  <li><a href="/location/datacenter/list">Datacenters</a></li>
                  <li><a href="/env-role-reports">Reports</a></li>
            {{/if}}
            {{#if access.edit}}
                  <li><a href="/env-role-report/homeless-">Equipment w/ no Location</li>
            {{/if}}
            {{#if access.delete}}
                  <li><a href="/env-role-report/eqnis-">Equipment Spares</li>
                  <li><a href="/env-role-report/eol-">Equipment End of Life</li>
                  <li><a href="/equipment">Equipment All</a></li>
                  <li><a href="/systems">Systems All</a></li>
                  <li><a href="/systemports-list">Systems Ports All</a></li>
                  <li><a href="/equipment-systems">Equipment & Systems All</a></li>
                  <li><a href="/location/racks">Racks All</a></li>
            {{/if}}
            {{#if access.root}}
                {{> admin/adminlinks}}
            {{/if}}
                  
            {{#if user}}
                  <li><a href="/user/profile">User Profile</a></li>
                  <li><a href="/user/logout">Logout</a><li>
            {{/if}}
            
            </ul>
            </li>
            {{#if access.read}}
           <li>
            <form id="multiForm" class="form-inline" role="form" autocomplete="off" action="/env-role-report/multi-" method="get">
            <div class="form-group">
              <label class="sr-only" for="field-multiCat">Search in</label> 
              <select id="field-multiCat" class="form-control" name="searchIn" >
              <option value="system~systemName" >System Names</option>
              <option value="system~systemTicket" >System Ticket</option>
              <option value="system~modifiedBy" >System Modified By</option>
              <option value="system~sysPortEndPoint">System EndPoint</option>
              <option value="system~sysPortCablePath" >System Cable Number</option>
              <option value="equipment~equipSN" >Equipment SN</option>
              <option value="equipment~equipAssetTag" >Equipment Asset Tag</option>
              <option value="equipment~equipTicketNumber" >Equipment Ticket</option>
              <option value="equipment~equipPONum" >Equipment PO Number</option>
              <option value="equipment~equipInvoice" >Equipment Invoice</option>
              <option value="equipment~equipProjectNum" >Equipment Project</option>
              <option value="equipment~modifiedBy" >Equipment Modified By</option>
              <option value="equipment~equipPortsAddr" >Equipment MAC Address</option>
              <select>
              </div>
              <div class="form-group">
              <label class="sr-only" for="field-multiText">Search for</label> 
              <input id="field-multiText" type="text" class="form-control" pattern=".{3,}" required name="searchFor" placeholder="? (3 char min)">
              </div>
              <button type="submit" class="sr-only btn btn-primary" value='Submit'>Submit</button>
              </form>
           </li>
      {{#if drop1}} <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{drop1}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
              {{#each drop1each}}
              <li><a href="{{{../drop1url}}}{{this}}">{{this}}</a></li>
              {{/each}}
              </ul>
           </li>{{/if}}
      {{#if drop2}} <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{drop2}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
              {{#each drop2each}}
              <li><a href="{{{../drop2url}}}{{this}}">{{this}}</a></li>
              {{/each}}
              </ul>
           </li>{{/if}}
      {{#if drop3}} <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{drop3}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
              {{#each drop3each}}
              <li><a href="{{{../drop3url}}}{{this}}">{{this}}</a></li>
              {{/each}}
              </ul>
           </li>{{/if}}

      {{#if menu1}} <li><a href="{{menuLink1}}">{{menu1}}</a>
           </li> {{/if}}
      {{#if menu2}} <li><a href="{{menuLink2}}">{{menu2}}</a>
           </li> {{/if}}
      {{#if menu3}} <li><a href="{{menuLink3}}">{{menu3}}</a>
           </li> {{/if}}
      {{#if menu4}} <li><a href="{{menuLink4}}">{{menu4}}</a>
           </li> {{/if}}

      {{#if lastPage}} <li><a href="{{lastPage}}">Back</a>
           </li> {{/if}}
           {{/if}}
             
     </ul>
    </nav>
  </div>
</div>