<div class="navbar" >
  <div >
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle " data-toggle="dropdown">DCIT  <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/">Home</a></li>
            {{#if access.read}}
                  <li><a href="/location/datacenter/list">Datacenters</a></li>
                  <li><a href="/env-role-reports">Reports</a></li>
                  <li><a href="/macadder/mactest.html" class="popup">MAC Adder</a></li>
            {{/if}}
            {{#if access.edit}}
                  <li><a href="/equipment/new">New Equipment</a></li> 
                  <li><a href="/system/+new+">New System</a></li>
                  <li><a href="/env-role-report/homeless-">Equipment w/ no Location</a></li>
            {{/if}}
            {{#if access.delete}}
                  <li><a href="/env-role-report/eqnis-">Equipment Spares</a></li>
                  <li><a href="/env-role-report/eol-">Equipment End of Life</a></li>
                  <li><a href="/equipment">Equipment All</a></li>
                  <li><a href="/systems">Systems All</a></li>
                  <li><a href="/systemports-list">Systems Ports All</a></li>
                  <li><a href="/equipment-systems">Equipment & Systems All</a></li>
                  <li><a href="/location/racks">Racks All</a></li>
            {{/if}}
            {{#if access.root}}
                {{> admin/adminlinks}}
            {{/if}}
                  
            {{#if user}}
                  <li><a href="/user/profile">User Profile</a></li>
                  <li><a href="/user/logout">Logout</a><li>
            {{/if}}
            
            </ul>
            </li>
            {{#if access.read}}
           <li>
            <form id="multiForm" class="form-inline" role="form" autocomplete="off" action="/env-role-report/multi-" method="get">
            <div class="form-group">
              <label class="sr-only" for="field-multiCat">Search in</label> 
              <select id="field-multiCat" class="form-control" name="searchIn" >
              <option {{{selOption 'system~systemName' lastSearch}}}>System Names</option>
              <option {{{selOption 'system~systemTicket' lastSearch}}}>System Ticket</option>
              <option {{{selOption 'system~modifiedBy' lastSearch}}}>System Modified By</option>
              <option {{{selOption 'system~sysPortEndPoint' lastSearch}}}>System EndPoint</option>
              <option {{{selOption 'system~sysPortAddress' lastSearch}}}>System IP Address</option>
              <option {{{selOption 'system~sysPortCablePath' lastSearch}}} >System Cable Number</option>
              <option {{{selOption 'equipment~equipSN' lastSearch}}}>Equipment SN</option>
              <option {{{selOption 'equipment~equipAssetTag' lastSearch}}}>Equipment Asset Tag</option>
              <option {{{selOption 'equipment~equipTicketNumber' lastSearch}}}>Equipment Ticket</option>
              <option {{{selOption 'equipment~equipPONum' lastSearch}}}>Equipment PO Number</option>
              <option {{{selOption 'equipment~equipInvoice' lastSearch}}}>Equipment Invoice</option>
              <option {{{selOption 'equipment~equipProjectNum' lastSearch}}}>Equipment Project</option>
              <option {{{selOption 'equipment~modifiedBy' lastSearch}}}>Equipment Modified By</option>
              <option {{{selOption 'equipment~equipPortsAddr' lastSearch}}}>Equipment MAC Address</option>
              <select>
              </div>
              <div class="form-group">
              <label class="sr-only" for="field-multiText">Search for</label> 
              <input id="field-multiText" type="text" class="form-control" pattern=".{3,}" required name="searchFor" placeholder="? (3 char min)">
              </div>
              <button type="submit" class="sr-only btn btn-primary" value='Submit'>Submit</button>
              </form>
           </li>
      {{#if drop1}} <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{drop1}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
              {{#each drop1each}}
              <li><a href="{{{../drop1url}}}{{this}}">{{this}}</a></li>
              {{/each}}
              </ul>
           </li>{{/if}}
      {{#if drop2}} <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{drop2}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
              {{#each drop2each}}
              <li><a href="{{{../drop2url}}}{{this}}">{{this}}</a></li>
              {{/each}}
              </ul>
           </li>{{/if}}
      {{#if drop3}} <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{drop3}}<b class="caret"></b></a>
              <ul class="dropdown-menu">
              {{#each drop3each}}
              <li><a href="{{{../drop3url}}}{{this}}">{{this}}</a></li>
              {{/each}}
              </ul>
           </li>{{/if}}

      {{#if menu1}} <li><a href="{{menuLink1}}">{{menu1}}</a>
           </li> {{/if}}
      {{#if menu2}} <li><a href="{{menuLink2}}">{{menu2}}</a>
           </li> {{/if}}
      {{#if menu3}} <li><a href="{{menuLink3}}">{{menu3}}</a>
           </li> {{/if}}
      {{#if menu4}} <li><a href="{{menuLink4}}">{{menu4}}</a>
           </li> {{/if}}

      {{#if lastPage}} <li><a href="{{lastPage}}">Back</a>
           </li> {{/if}}
           {{/if}}
             
     </ul>
     <div class="navbar-right">
     {{#if user}}
        {{user.local.email}}
     {{else}}
        <form class="form-inline" action="/user/login" method="post">
            <div class="form-group">
              <label class="sr-only" for="userEmail">Email address</label>
              <input type="email" class="form-control" id="userEmail" name="email" pattern=".{10,}" required placeholder="Enter email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="userPassword">Password</label>
              <input type="password" class="form-control" id="userPassword" name="password"  pattern=".{8,}" required placeholder="Password">
            </div>
            <input type="hidden" name="_csrf" value="{{_csrfToken}}">
            <input type="hidden" name="timezone" id="timezone">
            <button type="submit" class="btn btn-default">Sign in</button>  <a href="/user/signup">Signup</a>
          </form>
      {{/if}}
     </div> 
    </nav>
  </div>
</div>