<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->




    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title>{{#if titleNow}}{{titleNow}} - {{/if}}DCIT</title>
		{{#if showTests}}
			<link rel="stylesheet" href="{{static '/vendor/mocha.css'}}">
		{{/if}}
		{{{_sections.head}}}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{{static '/vendor/tablesort/css/tablesort.css'}}">
        <link rel="stylesheet" href="{{static '/vendor/tablesort/css/styles.css'}}">
		<link rel="stylesheet" href="{{static '/vendor/bootstrap/css/bootstrap.min.css'}}">
        <link rel="stylesheet" href="{{static '/css/custom.css'}}">
        <style>
            body {
                padding-top: 14px;
                padding-bottom: 14px;
            }
        </style>
		<link rel="stylesheet" href="{{static '/vendor/bootstrap/css/bootstrap-theme.min.css'}}">
		{{!--
        {{#each _bundles.css}}
			<link rel="stylesheet" href="{{static .}}">
		{{/each}}
        --}}

		<script src="{{static '/vendor/js/modernizr-2.6.2-respond-1.1.0.min.js'}}"></script>
        <script src="{{static '/vendor/js/d3.v3.js'}}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<header>
<!--			<div class="row">
				<div class="col-sm-4">
					<img src="{{logoImage}}" alt="Data Center Chronicle Logo">
				</div>
			</div>
-->            
		</header>

	    <div class="container">
			{{#if flash}}
				<div class="alert alert-dismissible alert-{{flash.type}}">
					<button type="button" class="close" 
						data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>{{flash.intro}}</strong> {{{flash.message}}}
				</div>
			{{/if}}

		    {{{body}}}

			<hr>

			<footer>
            <ul>
                <li><a href="/location/datacenter/list">Datacenters</a></li>
                <li><a href="/equipment-systems">Equipment & Systems</a></li>
                <li><a href="/equipment">Equipment</a></li>
                <li><a href="/systems">Systems</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/">Home</a></li>
                <br>
                <li><a href="/jquery-test">jquery Test</a></li>
                <li><a href="/epic-fail">Epic Fail</a></li>
                <br>
                
                <li><a href="/about">About</a></li>
            </ul>
				<p>&copy; Data Center Chronicle 2014</p>
			</footer>
	    </div> <!-- /container -->        
        
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{static '/vendor/js/jquery-2.1.1.min.js'}}"><\/script>')</script>
		{{!-- since we've move jquery to the end of the body (instead of in head), we should really rename this bundle
			to something other than "head", but i'm leaving it for consistency with the book. 
		{{#each _bundles.js.head}}
			<script src="{{static .}}"></script>
		{{/each}}
    	{{{_sections.jquery}}}
        --}}
		{{#if showTests}}
			<div id="mocha"></div>
			<script src="{{static '/vendor/mocha.js'}}"></script>
			<script src="{{static '/vendor/chai.js'}}"></script>
			<script>
				mocha.ui('tdd');
				var assert = chai.assert;
			</script>
			<script src="{{static '/qa/tests-global.js'}}"></script>
			{{#if pageTestScript}}
				<script src="{{pageTestScript}}"></script>
			{{/if}}
			<script>mocha.run();</script>
		{{/if}}

		<script src="{{static '/vendor/bootstrap/js/bootstrap.min.js'}}"></script>
        <script src="{{static '/vendor/tablesort/tablesort.js'}}"></script>
		<script src="{{static '/js/main.js'}}"></script>
        <script src="{{static '/js/tocsvpartial.js'}}"></script>
        <script src="{{static '/vendor/js/handlebars.min.js'}}"></script>
        <script type="text/javascript">
            
            $(function () {
                $('table.table-sort').tablesort();
                // http://www.jqueryscript.net/table/jQuery-Plugin-For-Sortable-Searchable-Tables-Tablesort.html
            });
        </script>

    </body>
</html>
