
<div class="container"> <!-- profile.1 -->

    <div class="page-header text-center">  <!-- profile.1.1 -->
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/user/logout" class="btn btn-default btn-sm">Logout</a>
    </div>  <!-- /profile.1.1 -->

    <div class="row">  <!-- profile.1.2 -->

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-8">  <!-- profile.1.2.1 -->
            <div class="well">  <!-- profile.1.2.1.1 -->
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: {{ user._id }}<br>
                        <strong>Email</strong>: {{ user.local.email }}<br>
            {{#if name}}<stron>Name</strong>:{{name}}<br>
                        <stron>Phone</strong>:{{phone}}<br>
                        <stron>Created On</strong>:{{createdOn}}<br>
            {{/if}}     <stron>Computer timezone</strong>:{{timezone}}<br>
                    </p>

            </div>  <!-- profile.1.2.1.1 -->
        </div>  <!-- profile.1.2.1 -->
    </div>  <!-- profile.1.2 -->
</div>  <!-- profile.1 -->