<div>
<h4>Endpoint Ports</h4>
  <table {{> bootstrap-table}} >
    <thead>
      <tr>
        <th data-sortable="true" data-field="systemName">System Name</th>
        <th data-sortable="true" data-field="sysPortName">Name</th>
        <th data-sortable="true" data-field="sysPortCablePath">Cable Path</th>
        <th data-sortable="true" data-field="sysPortEndPointPre">Pre</th>
        <th data-sortable="true" data-field="sysPortEndPointPort">Port</th>
        <th data-sortable="true" data-field="sysPortVlan">VLAN</th>
        <th data-sortable="true" data-field="sysPortOptions">Options</th>
        <th data-sortable="true" data-field="sysPortAddress">Address</th>
        <th data-sortable="true" data-field="sysPortType">Type</th>
      </tr>
    </thead>
    <tbody>
    {{#each sys}}
      {{#each systemPorts}}
      {{#if sysPortName}}
      <tr>
        <td>
          {{#if ../../../access.edit}}{{#if systemName}}
          <a href="/system/{{systemName}}/edit" target="_blank">
          <span class="glyphicon glyphicon-edit glyphicon-danger" title="Edit {{systemName}}"></span></a>
            {{/if}}{{/if}}
              <a href="/system/{{systemName}}">{{systemName}}</td>
            <td>{{sysPortName}}</td>
            <td>{{sysPortCablePath}}</td>
            <td>{{sysPortEndPointPre}}</td>
            <td>{{sysPortEndPointPortPad}}</td>
            <td>{{sysPortVlan}}</td>
            <td>{{sysPortOptions}}</td>
            <td>{{sysPortAddress}}</td>
            <td>{{sysPortType}}</td>
          </tr>
          {{/if}}
        {{/each}}
      {{/each}}
    </tbody>
  </table>
</div>
<hr>
<div class="row">
      {{> assets/config-asendpoint-acs6k }}
{{!--    {{> assets/config-asendpoint-servtechports }} --}}
</div>
