
<hr>
<div class="racks">
    <h4>Equipment SN: {{equipSN}}</h4>
    <ul id="eachUl"class="list-unstyled"> 
            <li>
            <div class="row">
              <div class="col-md-8">
                {{#if systemName}}<h4>System: <a href="/system/{{systemName}}">{{systemName}} </a></h4>
                System Status: {{{systemStatus}}}<br>{{/if}}
                Location: <a href="/location/rack/{{equipLocationRack}}">{{equipLocation}}</a><br>
                Ticket: {{{equipTicketNumberlit}}}<br>
                Equipment Status: {{{equipStatuslit}}}<br>
                {{#if equipAssetTag}}Asset Tag: {{equipAssetTag}}<br>{{/if}}
                {{> assets/equipment-e-c}}
                </div>
              <div class="col-md-4"></div>
            </div>
            <div class="row">
                <hr>
    
                {{> assets/equipport-list}}
                
                <hr>
                <div class="col-sm-9">
                
                {{#if equipIsVirtual}} Is Virtual {{/if}}
                {{#if equipMake}}{{equipMake}}<br>{{/if}}
                {{#if equipModel}}{{equipModel}}{{#if equipSubModel}} {{equipSubModel}}{{/if}}<br>{{/if}}
                {{#if equipType}}Type: {{#if equipRUHieght}}{{equipRUHieght}}U {{/if}}{{equipType}}<br>{{/if}}
                <br>
                <strong>Hardware Details</strong><br>
                {{#if equipFirmware}}Firmware: {{equipFirmware}}<br>{{/if}}
                {{#if equipMobo}}Motherboard: {{equipMobo}}<br>{{/if}}
                {{#if equipCPUCount}}CPU: {{equipCPUCount}} {{#if equipCPUCores}}x {{equipCPUCores}}{{/if}} {{#if equipCPUType}}: {{equipCPUType}}{{/if}}<br>{{/if}}
                {{#if equipMemTotal}}Memory: {{equipMemTotal}}{{#if equipMemType}} : {{equipMemType}}{{/if}}<br>{{/if}}
                {{#if equipRaidType}}Raid: {{equipRaidType}}{{#if equipRaidLayout}} : {{equipRaidLayout}}{{/if}}<br>{{/if}}
                {{#if equipHDDCount}}HDD: {{equipHDDCount}}{{#if equipHDDType}} : {{equipHDDType}}{{/if}}<br>{{/if}}
                {{#if equipNICCount}}NIC: {{equipNICCount}}{{#if equipNICType}} : {{equipNICType}}{{/if}}<br>{{/if}}


                {{#if equipPSUCount}}PSU: {{equipPSUCount}}<br>{{/if}}
                {{#if equipPSUDraw}} Draw: {{equipPSUDraw}}Watts<br>{{/if}}
                {{#if equipAddOns}}Add On Items: {{equipAddOns}}<br>{{/if}}
                <br>
                <strong>Timing</strong><br>
                {{#if equipRecieved}}Received: {{equipRecieved}}<br>{{/if}}
                {{#if equipAcquisition}}Acquisition: {{equipAcquisition}}<br>{{/if}}
                {{#if equipInService}}In Service: {{equipInService}}<br>{{/if}}
                {{#if equipEndOfLife}}End of Life: {{equipEndOfLife}}<br>{{/if}}
                {{#if equipWarrantyMo}}Warranty in Months: {{equipWarrantyMo}}<br>{{/if}}
                <br>
                <strong>Purchasing</strong><br>
                {{#if equipPONum}}PO: {{equipPONum}}<br>{{/if}}
                {{#if equipInvoice}}Invoice: {{equipInvoice}}<br>{{/if}}
                {{#if equipProjectNum}}Project: {{equipProjectNum}}<br>{{/if}}
                {{#if equipLicense}}License: {{equipLicense}}<br>{{/if}}
                {{#if equipMaintAgree}}Maintenance Agreement: {{equipMaintAgree}}<br>{{/if}}
                {{#if equipPurchaseType}}Type: {{equipPurchaseType}}<br>{{/if}}
                {{#if equipPurchaser}}Purchaser: {{equipPurchaser}}<br>{{/if}}
                {{#if equipPurchaseTerms}}Terms: {{equipPurchaseTerms}}<br>{{/if}}
                {{#if equipPurchaseEnd}}End: {{equipPurchaseEnd}}<br>{{/if}}
                <br>
                {{#if equipNotes}}Notes: {{equipNotes}}<br>{{/if}}
                {{#if createdBy}}Created By: {{createdBy}}{{#if createdOn}} {{createdOn}}{{/if}}<br>{{/if}}
                Modified: {{#if modifiedBy}}By: {{modifiedBy}}{{/if}}{{#if modifiedOn}} {{modifiedOn}}<br>{{/if}}
                
                
                {{#if access.edit}}
                <form id=formEdit></form>{{!--this is for the edit button both button sit outside the forms so they do not conflict --}}
                <form id=formCopy></form>
                <type='submit' class='btn btn-warning btn-xs' formaction='/equipment/edit-{{equipSN}}' form="formEdit" formmethod="get" value='Edit'>
                <type='submit' class='btn btn-info btn-xs' formaction='/equipment/edit~copy-{{equipSN}}' form="formCopy" formmethod="get" value='Copy'>
                {{/if}}
                
                </div>
            </div>
            </li><br>
        </ul>
     


    
    
</div>


