<hr>
<div class="racks">
    <h4>{{#if systemName}}System{{else}}New System{{/if}}</h4>
    <div class="datacenter"> 

    <div class="formContainer">
    
    {{#if systemName}}
    <form id="datacenterForm"class="form-horizontal datacenterForm" name="assetEdit" role="form" action="/system/{{systemName}}" method="POST">
    <input type="hidden" name="isEdit" value="{{systemName}}">
    <input type="hidden" name="systemId" value="{{systemId}}">
    {{else}}
    <form id="datacenterForm"class="form-horizontal datacenterForm" name="assetEdit" role="form" action="/system/new" method="POST">
    <input type="hidden" name="wasCopy" value="{{wasCopy}}">
    <input type="hidden" name="systemId" value="new">
    {{/if}} 
        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <input type="hidden" name="equipLocation" value="{{equipLocation}}">
        <p class="form-control-static"></p>
    <div class="row">       
        <div class="col-md-10">   
            <div class="form-group">
        
            <label for="field-systemName" class="col-sm-2 control-label">System Name</label>
                <div class="col-sm-4">
                {{#if systemName}}
                <input type="hidden" name="systemName" value="{{systemName}}">
                <p><strong>{{systemName}}</strong>
                {{#if access.delete}}

                     <a href="/system-namechange/{{systemName}}" 
                    <span class="glyphicon glyphicon-pencil glyphicon-danger" data-toggle="tooltip" title="Click to edit the system name."></span>
                    </a>
                {{/if}}
                </p>
                {{else}}
                <input type="text" class="form-control" id="systemName" name="systemName" value="{{systemName}}" data-toggle="tooltip" required title="System Name is required, should be all lowercase and be ‘a-z’, ‘1-0’, ‘-’ and ‘_’ characters only." placeholder="*Required">
                {{/if}}
                </div>
            </div>
        <div class="form-group">
            <label for="field-systemParentId" class="col-sm-2 control-label" >System Parent</label>
            <div class="col-sm-4">
                <input type="text" class="form-control autofillSystemName" id="systemParentId" name="systemParentId"  value="{{systemParentId}}" data-toggle="tooltip" title="Autofill will preset System Names. System Parent is for Systems that are slaves to another System, such as a Cisco FEX">
            </div>
        </div>
        <div class="form-group">
            <label for="field-systemAlias" class="col-sm-2 control-label" >Alias</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="systemAlias" name="systemAlias"  value="{{systemAlias}}" placeholder="AKA?" data-toggle="tooltip" title="Also known as, for use with systems with more than one name.">
            </div>
        </div>  

        <div class="form-group">
            <label for="field-systemStatus" class="col-sm-2 control-label" >Status</label>
            <div class="col-sm-4">
                <select id="systemStatus" name="systemStatus" class="form-control" data-toggle="tooltip" required title="System Status is the General Classification this system belongs to. If unsure, check other systems of the same type for their Status.">
                    <option ""></option>
                    {{#each optSystStatus}}
                    <option {{{selOption this ../systemStatus}}} >{{this}}</option>
                    {{/each}}
                    
                </select>
                
            </div>
        </div> 
        
        <div class="form-group">
            <label for="field-systemTicket" class="col-sm-2 control-label" >Ticket</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="systemTicket" name="systemTicket"  value="{{systemTicket}}" placeholder="Case requesting this System?" data-toggle="tooltip" title="Ticket is any case number associated with this system. multiple cases can be added using comma separation.">
            </div>
        </div>  
        
        <div class="form-group">
            <label for="systemEquipSN" class="col-sm-2 control-label" >Equipment SN</label>
            <div class="col-sm-4">
                <input type="text" id="systemEquipSN" class="noEnterSubmit form-control form-group-sm col-xs-3" name="systemEquipSN" value="{{systemEquipSN}}" data-toggle="tooltip" title="Autofill will present matching Equipment Serial Numbers as you type.">
            </div>
        </div> 
        {{#if equipLocation}}<div class="form-group">
            <label for="field-equipLocation" class="col-sm-2 control-label">Location</label>
            <div class="col-sm-4">
                {{equipLocation}}
            </div>
        </div> 
        {{/if}}
            

        <div class="form-group">
            <label for="field-systemInventoryStatus" class="col-sm-2 control-label"  >Inventory Status</label>
            <div class="col-sm-4">
                <input type="checkbox" name="systemInventoryStatus" value="true" {{systemInventoryStatusChecked}} data-toggle="tooltip" title="Check this box if this page is complete">
            </div>
        </div>  
        <div class="form-group">
            <label for="field-systemIsVirtual" class="col-sm-2 control-label"  >Is Virtual</label>
            <div class="col-sm-4">
                <input type="checkbox" name="systemIsVirtual" value="true" {{systemIsVirtualChecked}} data-toggle="tooltip" title="Is this system a VM?">
            </div>
        </div>
    </div>
    <div class="col-md-1>
        <div form-group">
                
                <a href="#" class="assetFormSubmit" accesskey="x" data-toggle="tooltip" title="Press Alt x to Save" >
                    <span class="glyphicon glyphicon-save glyphicon-danger"></span></a>

                <a href="#" onclick="document.getElementById('datacenterForm').reset();return false;" title="Reset form">
                    <span class="glyphicon glyphicon-refresh glyphicon-danger"></span></a>

                <a href="#" onclick="document.getElementById('cancelForm').submit();return false;" title="Cancel edit">
                    <span class="glyphicon glyphicon-ban-circle glyphicon-danger"></span></a>
                
        </div>
    </div>

        <table id="portsTable" class="table table-condensed">
            <thead>
                <tr>
                <th></th>
                <th ><strong>System Ports</strong></th>
                
                
                </tr>
            </thead>
            <tbody id="tbody1" class="list">
                
                {{#if systemPorts}}
                {{#each systemPorts}}
                <tr id="{{sysPortId}}" class="tr-ports">
                <input type="hidden" name="sysPortId[{{@index}}]" value="{{sysPortId}}">
                    <td>
                        <button type="submit" class="btn btn-danger btn-xs" form="singlePortDelForm{{@index}}" title="Delete this port"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                    
                    
                    <td>
                        <div class="form-group row marginRow">
                            <div class="col-sm-2">
                            <input list="sysPortType{{@index}}" id="form-sysPortType{{@index}}" class="form-control form-fixer" name="sysPortType[{{@index}}]" value="{{sysPortType}}" autocomplete="off" data-toggle="tooltip" title="Select the Port Type. The field affects various reports at the bottom of the page."> 
                            <datalist id="sysPortType{{@index}}">
                                {{#each ../optSystPortType}}
                                    <option {{{this}}}>{{this}}</option>
                                {{/each}}
                            </datalist>
                            </div>    
                            <div class="col-sm-2 ">
                                <input type="text"  id="sysPortName{{@index}}" class="form-control col-sm-2 form-fixer" name="sysPortName[{{@index}}]"value="{{sysPortName}}" placeholder="e0, con, netmgmt" data-toggle="tooltip" title="Port Name (or label) 'e0' 'e1' 'con' 'netmgmt' 'ilom' 'drac' 'p0' 'p1' etc.">
                            </div>    
                            <div class="col-sm-2">
                                <input type="text" id="sysPortEndPoint{{@index}}" class="form-control col-sm-2  form-fixer autofillSystemName" name="sysPortEndPoint[{{@index}}]" value="{{sysPortEndPoint}}" placeholder="Pick a Switch, PDU, Console" data-toggle="tooltip" title="Port Endpoint is the device this port is attached to. Autofill will preset matching Systems as you type. Hint, type the most unique part of the System Name for faster results.">
                                
                            </div>    
                            <div class="col-sm-1">
                                <input type="text"   id="sysPortEndPointPre{{@index}}" class="form-control col-sm-1 form-fixer" name="sysPortEndPointPre[{{@index}}]"value="{{sysPortEndPointPre}}" placeholder="Blade" data-toggle="tooltip" title="Port Endpoint Pre Port is for modules, blades or branches of larger units.">
                            </div>    
                            <div class="col-sm-1">
                                <input type="text"   id="sysPortEndPointPort{{@index}}" class="form-control col-sm-1 form-fixer" name="sysPortEndPointPort[{{@index}}]"value="{{sysPortEndPointPort}}" placeholder="1-48ish" data-toggle="tooltip" title="Port Endpoint Port is the port number or label.">
                             </div>    
                            <div class="col-sm-1">   
                                <input type="text"  id="sysPortVlan{{@index}}" class="form-control col-sm-1 form-fixer" name="sysPortVlan[{{@index}}]"value="{{sysPortVlan}}" placeholder="vlan #" data-toggle="tooltip" title="Port Vlan number. Required for some reports">
                            </div>
                            <div class="col-sm-3">
                            <input type="text" class="form-control col-sm-3"  id="sysPortOptions{{@index}}" name="sysPortOptions[{{@index}}]"value="{{sysPortOptions}}" placeholder="Options {{@index}}" data-toggle="tooltip" title="Port Options, such as ‘duplex auto, speed auto’ for network and yes or no for avocent cisco option">
                        </div>
                        </div>
                        <div class="form-group row marginRow">
                        <div class="col-sm-4">
                            <textarea rows="1" class="form-control col-sm-4" id="sysPortCablePath{{@index}}" name="sysPortCablePath[{{@index}}]" placeholder="cable_number cablenumber~patch~cablenumber" data-toggle="tooltip" title="Port Cable Serial Number. Connect multiple cables and patch panels with ‘~’ ">{{sysPortCablePath}}</textarea>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control col-sm-2 form-fixer" id="sysPortAddress{{@index}}" name="sysPortAddress[{{@index}}]"value="{{sysPortAddress}}" placeholder="10.10.10.10" data-toggle="tooltip" title="Port Address is the IP address. Required for some reports">
                        </div>
                        
                        
                        <div class="col-sm-3">
                            <input type="text" class="form-control col-sm-3 form-fixer" id="sysPortURL{{@index}}" name="sysPortURL[{{@index}}]"value="{{sysPortURL}}" placeholder="http://" data-toggle="tooltip" title="Port URL is for future features.">
                        </div>
                        
                        <div class="checkbox col-sm-2">
                        <label for="sysPortCrossover{{@index}}" class="control-label form-fixer">
                            <input type="checkbox"  name="sysPortCrossover[{{@index}}]" value="true" {{sysPortCrossoverChecked}}>Crossover
                        </label>
                        </div>
                        
                        
                        </div>
                        
                    </td>

                </tr>
                {{/each}}
                {{else}}
                <tr class="tr-ports">
                <input type="hidden" name="sysPortId[0]" value="new">
                    <td>
                        <button type="submit" class="btn btn-danger btn-xs" form="deleteform0"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                    
                    
                    <td>
                        <div class="form-group row marginRow">
                            <div class="col-sm-2">
                            <input list="sysPortType0" id="form-sysPortType0" class="form-control form-fixer" name="sysPortType[0]" autocomplete="off"> 
                            <datalist id="sysPortType0" data-toggle="tooltip" title="Port Name (or label) 'e0','e1','con','netmgmt','ilom','drac','p0','p1' etc.">
                                {{#each ../optSystPortType}}
                                    <option {{{this}}}>{{this}}</option>
                                {{/each}}
                            </datalist>
                            </div>    
                            <div class="col-sm-2 ">
                                <input type="text"  id="sysPortName0" class="form-control col-sm-2 form-fixer" name="sysPortName[0]" placeholder="e0, con, netmgmt" data-toggle="tooltip" title="Port Name (or label) 'e0' 'e1' 'con' 'netmgmt' 'ilom' 'drac' 'p0' 'p1' etc.">
                            </div>    
                            <div class="col-sm-2">
                                <input type="text" id="sysPortEndPoint0" class="form-control col-sm-2  form-fixer autofillSystemName" name="sysPortEndPoint[0]" placeholder="Pick a Switch, PDU, Console" data-toggle="tooltip" title="Port Endpoint is the device this port is attached to. Autofill will preset matching Systems as you type. Hint, type the most unique part of the System Name for faster results.">
                            </div>   
                            <div class="col-sm-1">
                                <input type="text"   id="sysPortEndPointPre0" class="form-control col-sm-1 form-fixer" name="sysPortEndPointPre[0]" placeholder="Blade" data-toggle="tooltip" title="Port Endpoint Pre Port is for modules, blades or branches of larger units.">
                            </div>    
                            <div class="col-sm-1">
                                <input type="text"   id="sysPortEndPointPort0" class="form-control col-sm-1 form-fixer" name="sysPortEndPointPort[0]"value="{{sysPortEndPointPort}}" placeholder="1-48ish" data-toggle="tooltip" title="Port Endpoint Port is the port number or label.">
                             </div>    
                            <div class="col-sm-1">   
                                <input type="text"  id="sysPortVlan0" class="form-control col-sm-1 form-fixer" name="sysPortVlan[0]"value="{{sysPortVlan}}" placeholder="vlan #" data-toggle="tooltip" title="Port Vlan number. Required for some reports">
                            </div>
                            <div class="col-sm-3">
                            <input type="text" class="form-control col-sm-3"  id="sysPortOptions0" name="sysPortOptions[0]" placeholder="Options 0" data-toggle="tooltip" title="Port Options, such as ‘duplex auto, speed auto’ for network and yes or no for avocent cisco option">
                        </div>
                        </div>
                        <div class="form-group row marginRow">
                        <div class="col-sm-4">
                            <textarea rows="1" class="form-control col-sm-4" id="sysPortCablePath0" name="sysPortCablePath[0]" placeholder="cable_number cablenumber~patch~cablenumber" data-toggle="tooltip" title="Port Cable Serial Number. Connect multiple cables and patch panels with ‘~’ ">{{sysPortCablePath}}</textarea>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control col-sm-2 form-fixer" id="sysPortAddress0" name="sysPortAddress[0]"value="{{sysPortAddress}}" placeholder="10.10.10.10" data-toggle="tooltip" title="Port Address is the IP address. Required for some reports">
                        </div>
                        
                        
                        <div class="col-sm-3">
                            <input type="text" class="form-control col-sm-3 form-fixer" id="sysPortURL0" name="sysPortURL[0]"value="{{sysPortURL}}" placeholder="http://" data-toggle="tooltip" title="Port URL is for future features.">
                        </div>
                        
                        <div class="checkbox col-sm-2">
                        <label for="sysPortCrossover0" class="control-label form-fixer">
                            <input type="checkbox"  name="sysPortCrossover[0]" value="true">Crossover</label>
                        </div>
                        
                        
                        </div>
                        
                    </td>

                </tr>
                {{/if}}

            </tbody>
        </table>                


        
                <button type="button" class="btn btn-default btn-xs" value="Add Another" onclick="addField('tbody1','tr',16);">+ 1</button>
        
        <div>
        <hr>
        <ul id="eachUl"class="list-unstyled">    
            <li id="eachLi" class="eachLi">
         <div class="form-group">
            <label for="systemEnviron" class="col-sm-2 control-label" >Environment</label>
            <div class="col-sm-4">
                <input type="text" id="systemEnviron" class="form-control form-group-sm col-xs-3" name="systemEnviron" data-toggle="tooltip" required title="Environment is required. This field will autofill, pick the most appropriate selection. Environments not on the list should be considered carefully." value="{{systemEnviron}}" >
            </div>
        </div>
        <div class="form-group">
            <label for="systemRole" class="col-sm-2 control-label" >Role</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="systemRole" name="systemRole"  value="{{systemRole}}" data-toggle="tooltip" required title="Role is required, this field will autofill, pick the most appropriate selection. Roles not on the list should be considered carefully." placeholder="Apache,Launch,Reporting">
            </div>
        </div>
        <div class="form-group">
            <label for="systemOwner" class="col-sm-2 control-label" >Owner</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="systemOwner" name="systemOwner"  value="{{systemOwner}}" placeholder="If availible" data-toggle="tooltip" title="Group responsible for this system when it is in production">
            </div>
        </div>
    {{!--    <div class="form-group">
            <label for="field-systemImpact" class="col-sm-2 control-label" >Impact</label>
            <div class="col-sm-4">
                <select id="systemImpact" name="systemImpact" class="form-control" value="{{systemImpact}}">
                    <option "">Select one</option>
                    {{#each optImpactLevel}}
                    <option {{{selOption this ../systemImpact}}} >{{this}}</option>
                    {{/each}}
                    
                </select>
                
            </div>
        </div> --}}
        
        <hr>
        <div class="form-group">
            <label for="field-systemOSType" class="col-sm-2 control-label" >OS</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="systemOSType" name="systemOSType"  value="{{systemOSType}}" placeholder="CentOS, OEL, Windows" data-toggle="tooltip" title="OS type examples are ‘REL’ ‘OEL’ ‘Windows Server’ ‘Solaris’">
            </div>
        </div>
        <div class="form-group">
            <label for="field-systemOSVersion" class="col-sm-2 control-label" >OS Version</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="systemOSVersion" name="systemOSVersion"  value="{{systemOSVersion}}" placeholder="5u8,6u5,2008 R2" data-toggle="tooltip" title="OS Versions like ‘6u5’ ‘2008 R2’">
            </div>
        </div>        
    
        <div class="form-group">
            <label for="field-systemApplications" class="col-sm-2 control-label" >Software</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="systemApplications" name="systemApplications"  value="{{systemApplications}}" placeholder="Paid software" data-toggle="tooltip" title="Software is that which requires purchase or license. Can be coma separated">
            </div>
        </div>        
        <div class="form-group">
            <label for="field-systemSupLic" class="col-sm-2 control-label" >Support License</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="systemSupLic" name="systemSupLic"  value="{{systemSupLic}}" placeholder="Contract Numbers" data-toggle="tooltip" title="Software Contract or License numbers">
            </div>
        </div>        
        <div class="form-group">
            <label for="field-systemSupEndDate" class="col-sm-2 control-label" >Software Support End Date</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="systemSupEndDate" name="systemSupEndDate"  value="{{systemSupEndDate}}" data-toggle="tooltip" title="Software Support End Date is for future feature to have reminders about support expiration. Not yet implemented">
            </div>
        </div>      
        <hr>
        <div class="form-group">
            <label for="field-systemInstall" class="col-sm-2 control-label" >System Install Date</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="systemInstall" name="systemInstall"  value="{{systemInstall}}" data-toggle="tooltip" title="System Install Date is the day it is ready for OS install.">
            </div>
        </div>        
        <div class="form-group">
            <label for="field-systemStart" class="col-sm-2 control-label" >System Start Date</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="systemStart" name="systemStart"  value="{{systemStart}}" data-toggle="tooltip" title="System Start Date is the day it is ready for production.">
            </div>
        </div>
        <div class="form-group">
            <label for="field-systemEnd" class="col-sm-2 control-label" >End Date</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="systemEnd" name="systemEnd"  value="{{systemEnd}}" data-toggle="tooltip" title="System End Date is the day it is ready to be retired.">
            </div>
        </div>
        <div class="form-group">
            <label for="field-systemNotes" class="col-sm-2 control-label">Notes</label>
            <div class="col-sm-4">
                <textarea rows="3" class="form-control" id="fieldequipNotes" name="systemNotes">{{systemNotes}}</textarea>
            </div>
        </div>
    </ul>
    <div> 
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
                {{#if access.edit}}
                <button type="submit" class="btn btn-danger btn-xs submitForm assetFormSubmit" value='Submit'><span class="glyphicon glyphicon-save"></span> Save</button>
                {{/if}}
                <button type="reset" class="btn btn-danger btn-xs"value="Reset"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
                <a href="#" onclick="document.getElementById('cancelForm').submit();return false;">
                    <button type="button" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel</button></a>
                {{#if access.delete}}{{#if systemName}}
                <button type="submit" class="btn btn-danger btn-xs" form="deleteForm"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                {{/if}}{{/if}}
        </div>
    </div>
    </form>
    <form id="cancelForm" role="form" action="{{#if systemName}}/system/{{systemName}}{{else}}/system/{{wasCopy}}{{/if}}" method="GET"></form>  
    {{#if access.delete}}
    <form id="deleteForm" action="/systemdelete/{{systemName}}" method="POST" onsubmit="return confirm('Are you sure you want to delete {{systemName}}. This can not be undone!')">
        <input type="hidden" name="equipLocationRack" value="{{equipLocationRack}}">
        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <input type="hidden" name="systemName" value="{{systemName}}">
    </form>

    {{/if}}
         </div>
    </div>

        {{#if access.delete}}
        {{#each systemPorts}}
            <form id="singlePortDelForm{{@index}}" action="/systemportdelete1/{{../systemName}}" data-confirm="Are you sure you want to delete this port?" method="POST">
            <input type="hidden" name="_csrf" value="{{../_csrfToken}}">
            <input type="hidden" name="id" value="{{../systemId}}">
            <input type="hidden" name="abbreviation" value="{{../systemName}}">
            <input type="hidden" name="subId" value="{{sysPortId}}">
            <input type="hidden" name="collectionName" value="Systemdb">
            <input type="hidden" name="collectionSub" value="systemPorts">
            <input type="hidden" name="wasCopy" value="{{../wasCopy}}">
            </form>
        {{/each}}
        {{/if}}    


<script language="Javascript" type="text/javascript">
//Add more fields dynamically.
/* area is the region you want to add to, in this case id="tbody1"
   field is element you want to count, in this case <tr>
   limit is how many to be allowed to make, 10 is the default here
*/
function addField(area,field,limit) {
    var count;
    if(!document.getElementById) return;
    var field_area = document.getElementById(area);  
    var liList = document.getElementById(area).getElementsByTagName("tr");
    var count = liList.length

    /*var count = count + 1;*/
    if (isNaN===count)count=0;
    //If the maximum number of elements have been reached, exit the function.
    //      If the given limit is lower than 0, infinite number of fields can be created.
    if(count > limit && limit > 0) return;
    
    if(document.createElement) { 
         //Older Method
        field_area.insertAdjacentHTML('beforeend', {{> assets/systemeditPlus1}});
    }   
}
</script> 
