
<hr>
<div class="racks">
    <h3>{{systemName}} </h3> 
    
    <ul id="eachUl"class="list-unstyled"> 
        <li>
        <div class="row">
            
            <div class="col-md-4">

            <strong>System Details</strong> <br>
            {{#if systemAlias}}Alias: <strong>{{systemAlias}}</strong><br>{{/if}}
            {{#if systemParentId}}Parent: <strong>{{systemParentId}}</strong><br>{{/if}}
            Status: {{{systemStatusLit}}}<br>
            
            {{#if systemEnviron}}Environment: <strong>{{systemEnviron}}</strong><br>{{/if}}
            {{#if systemRole}}Role: <strong>{{systemRole}}</strong><br>{{/if}}
            {{#if systemOwner}}Owner: <strong>{{systemOwner}}</strong><br>{{/if}}
        {{!--    {{#if systemImpact}}Impact: {{systemImpact}}<br>{{/if}}  --}}
            {{#if systemIsVirtual}}Is Virtual: <strong>{{systemIsVirtual}}</strong><br>{{/if}}
            
            Ticket: {{{systemTicketLit}}}<br>
            
            
            </div>
            <div class="col-md-4">

            {{#if systemEquipSN}}
            <strong>Hardware Details</strong><br>
            Equipment SN: <strong><a href="/equipment/{{systemEquipSN}}">{{systemEquipSN}}</a></strong><br>
            Location: <strong><a href="/equipment-systems/{{equipLocationRack}}">{{equipLocation}}</a></strong><br>
            Equipment Status: <strong>{{equipStatus}}</strong><br>
            {{#if equipMake}}Make/Model: <strong>{{equipMake}}</strong>{{#if equipModel}} <strong>{{equipModel}}</strong>{{/if}}{{#if equipSubModel}} <strong>- {{equipSubModel}}</strong>{{/if}}{{#if equipAddOns}} <strong> with {{equipAddOns}}</strong>{{/if}}<br>{{/if}}
            
            {{#if equipType}}{{#if equipRUHieght}}{{equipRUHieght}}U {{/if}}{{equipType}}<br>{{/if}}
            {{/if}}
          
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                {{> assets/system-e-c}}
            </div>
        </div>
        <div class="row">
            

            {{> assets/sysport-list}}
         </div>   
         <div class="row">
            
            <div class="col-md-4">           
            
            {{#if systemIsVirual}} Is Virtual <br>{{/if}}

            <strong>OS and Software</strong><br>
            {{#if systemOSType}}OS: <strong>{{systemOSType}}</strong><br>{{/if}}
            {{#if systemOSVersion}}OS Version: <strong>{{systemOSVersion}}</strong><br>{{/if}}
            {{#if systemApplications}}Aplications: <strong>{{systemApplications}}</strong><br>{{/if}}
            {{#if systemSupLic}}Support License: <strong>{{systemSupLic}}</strong><br>{{/if}}
            {{#if systemSupEndDate}}Support End Date: <strong>{{systemSupEndDate}}</strong><br>{{/if}}
            <br>
            </div>

            <div class="col-md-4">         
            <strong>Timing</strong><br>
            {{#if systemInstall}}Install Date: <strong>{{systemInstall}}</strong><br>{{/if}}
            {{#if systemStart}}Start Date: <strong>{{systemStart}}</strong><br>{{/if}}
            {{#if systemEnd}}End Date: <strong>{{systemEnd}}</strong><br>{{/if}}
            <br>
            {{#if systemNotes}}Notes: <strong>{{systemNotes}}</strong><br>{{/if}}
            {{#if createdBy}}Created By: {{createdBy}}{{#if createdOn}} {{createdOn}}{{/if}}<br>{{/if}}
            Modified {{#if modifiedBy}}By: {{modifiedBy}}{{/if}}{{#if sysmodifiedOn}}: {{sysmodifiedOn}}<br>{{/if}}
            </div>
            <div class="col-md-2">
            
            </div>
            <div class="col-md-2">
            
            


            
            </div>
            </div>
        
        </li><br>
    </ul>
    <hr>
    <div class="row">
        {{> assets/config-portconfig}}  
        {{> assets/config-acs6k}}
        {{#if ilom}}          {{> assets/config-ilom}}        {{/if}}
        {{#if isServTechPDU}} {{> assets/config-servtechpdu}} {{/if}}
        {{#if isACS6000}}     {{> assets/config-bareACS6k}}   {{/if}}
    </div>    
</div>

