<dive>
<h4>System Ports</h4>
  <table {{> bootstrap-table}} >
    <thead>
      <tr>
        <th data-sortable="true" data-field="index">index</th>
        <th data-sortable="true" data-field="overwrite">overwrite</th>
        <th data-sortable="true" data-field="systemName">systemName</th>
        <th data-sortable="true" data-field="sysPortType">sysPortType</th>
        <th data-sortable="true" data-field="sysPortName">sysPortName</th>
        <th data-sortable="true" data-field="sysPortCablePath">sysPortCablePath</th>
        <th data-sortable="true" data-field="sysPortEndPoint">sysPortEndPoint</th>
        <th data-sortable="true" data-field="sysPortEndPointPre">sysPortEndPointPre</th>
        <th data-sortable="true" data-field="sysPortEndPointPort">sysPortEndPointPort</th>
        <th data-sortable="true" data-field="sysPortVlan">sysPortVlan</th>
        <th data-sortable="true" data-field="sysPortOptions">sysPortOptions</th>
        <th data-sortable="true" data-field="sysPortAddress">sysPortAddress</th>
        <th data-sortable="true" data-field="sysPortURL">sysPortURL</th>
        <th data-sortable="true" data-field="equipSN ">Equipment SN</th>
      </tr>
    </thead>
    <tbody>
    {{#each sys}}
    {{#each systemPorts}}
      <tr>
        <td>{{@index}}</td>
        <td></td>
        <td><a href="/system/{{systemName}}" target="_blank">{{systemName}}</a></td>
        <td>{{sysPortType}}</td>
        <td>{{sysPortName}}</td>
        <td>{{sysPortCablePath}}</td>
        <td><a href="/system/{{sysPortEndPoint}}">{{sysPortEndPoint}}</a></td>
        <td>{{sysPortEndPointPre}}</td>
        <td>{{sysPortEndPointPort}}</td>
        <td>{{sysPortVlan}}</td>
        <td>{{sysPortOptions}}</td>
        <td>{{sysPortAddress}}</td>
        <td><a href="{{sysPortURL}}" target="_blank">{{sysPortURL}}</a>
        <td><a href="/equipment/{{equipSN}}" target="_blank">{{equipSN}}</a></td>
      </tr>
    {{/each}}
    {{/each}}
    </tbody>
  </table>
</div>
