     {{#if access.read}}
      <ul class="nav navbar-nav navbar-left">
      <li>
        <form id="multiForm" class="navbar-form navbar-left" role="search" autocomplete="off" action="/reports/equipment/noFilters" method="get">
          <div class="form-group"> <!-- topnav.formgroup1 -->
            <label class="sr-only" for="field-multiCat">Search in</label>
            <select id="field-multiCat" class="form-control" name="findIn">
              <option {{{selOption 'systemName' findIn}}}>System Names</option>
              <option {{{selOption 'systemAlias' findIn}}}>System Alias</option>
              <option {{{selOption 'systemParentId' findIn}}}>System Parent</option>
              <option {{{selOption 'systemTicket' findIn}}}>System Ticket</option>
              <option {{{selOption 'systemModifiedBy' findIn}}}>System Modified By</option>
              <option {{{selOption 'sysPortEndPoint' findIn}}}>System EndPoint</option>
              <option {{{selOption 'sysPortAddress' findIn}}}>System IP Address</option>
              <option {{{selOption 'sysPortVlan' findIn}}}>System VLan</option>
              <option {{{selOption 'sysPortCablePath' findIn}}}>System Cable Number</option>
            {{#if access.edit}}
              <option {{{selOption 'equipLocation' findIn}}}>Location</option>
            {{/if}}
              <option {{{selOption 'equipSN' findIn}}}>Equipment SN</option>
              <option {{{selOption 'equipParent' findIn}}}>Equipment Parent</option>
              <option {{{selOption 'equipAssetTag' findIn}}}>Equipment Asset Tag</option>
              <option {{{selOption 'equipTicketNumber' findIn}}}>Equipment Ticket</option>
              <option {{{selOption 'equipPONum' findIn}}}>Equipment PO Number</option>
              <option {{{selOption 'equipInvoice' findIn}}}>Equipment Invoice</option>
              <option {{{selOption 'equipProjectNum' findIn}}}>Equipment Project</option>
              <option {{{selOption 'equipModifiedBy' findIn}}}>Equipment Modified By</option>
              <option {{{selOption 'equipPortsAddr' findIn}}}>Equipment MAC Address</option>
            </select>
          </div> <!-- /topnav.formgroup1 -->
          <div class="form-group"> <!-- topnav.formgroup2 -->
            <label class="sr-only" for="field-multiText">Search for</label>
            <input id="field-multiText" type="text" class="form-control" pattern=".{1,}" required name="findWhat" placeholder="? (3 char min)">
          </div>
          <!-- /topnav.formgroup2 -->
          <button type="submit" class="sr-only btn btn-primary" value='Submit'>Submit</button>
        </form>
      </li>

      {{#if drop1}}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{drop1}}<b class="caret"></b></a>
          {{{drop1each}}}
      </li>
      {{/if}}
      {{#if drop2}}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{{drop2}}}<b class="caret"></b></a>
          {{{drop2each}}}
      </li>
      {{/if}}
      {{#if drop3}}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{drop3}}<b class="caret"></b></a>
          {{{drop3each}}}
      </li>{{/if}} {{#if menu1}}
      <li><a href="{{menuLink1}}">{{menu1}}</a>
      </li> {{/if}} {{#if menu2}}
      <li><a href="{{menuLink2}}">{{menu2}}</a>
      </li> {{/if}} {{#if menu3}}
      <li><a href="{{menuLink3}}">{{menu3}}</a>
      </li> {{/if}} {{#if menu4}}
      <li><a href="{{menuLink4}}">{{menu4}}</a>
      </li> {{/if}} {{#if lastPage}}
      <li><a href="{{lastPage}}">Back</a>
      </li>
      {{/if}}
      </ul>
      {{/if}}
