<div>
<h4>Users</h4>
  <table {{> bootstrap-table}} >
    <thead>
      <tr>
        <th data-sortable="true" data-field="edit">E</th>
        <th data-sortable="true" data-field="id">ID</th>
        <th data-sortable="true" data-field="email">Email</th>
        <th data-sortable="true" data-field="phone">Phone</th>
        <th data-sortable="true" data-field="usraccess">Access</th>
        <th data-sortable="true" data-field="createdOn">Created On</th>
        <th data-sortable="true" data-field="lastAccessed">Last Accessed</th>
      </tr>
    </thead>
    <tbody>
    {{#each usr}}
      <tr>
        <td><button type="submit" class="btn btn-success btn-xs" form="editform{{@index}}">E</button></td>
        <td>{{id}}</td>
        <td>{{email}}</td>
        <td>{{phone}}</td>
        <td>{{usrAccess}}</td>
        <td>{{createdOn}}</td>
        <td>{{lastAccessed}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
  {{#each usr}}
    <form id="editform{{@index}}" action="/admin/userprofile" method="POST">
    <input type="hidden" name="_csrf" value="{{../_csrfToken}}">
    <input type="hidden" name="id" value="{{id}}">
    </form>
  {{/each}}
