<!-- <div class="racks"> -->
  <div class="row">
    {{#each cages}}
    <div class="col-md-6">
      <blockquote>
      <strong>{{cageNickname}}</strong>
      <br>
      <strong>Code: {{cageAbbreviation}}</strong>
      <br>
      <strong>Facility name: {{cageName}}</strong>
      <br>
      {{#if cageInMeters}}Cage in Meters: {{cageInMeters}} - Feet: {{cageInFeet}}<br>{{/if}}
      {{#if cageWattPSM}}Watts Per Sq. Meter: {{cageWattPSM}} - Foot:{{cageWattPSF}}<br>{{/if}}
      {{#if cageMap}}Cage Map: <a href="{{cageMap}}" target="_blank"> Link</a><br>{{/if}}
      {{#if cageNotes}}Notes:{{cageNotes}}<br>{{/if}}
      {{#if ../access.edit}}

      <a href="/location/rack/new?dcId={{dcid}}&dcCageId={{id}}"><button class="btn btn-danger btn-xs">New Rack</button></a>
      {{/if}}
      </blockquote>
    </div>
      {{/each}}
  </div>
<!-- </div> -->
