
    <table {{> bootstrap-table}}
        >
        <thead>
      <tr>
        <th data-sortable="true" data-field="dcNetEdit">Edit</th>
        <th data-sortable="true" data-field="dcNetType">ipV</th>
        <th data-sortable="true" data-field="dcNetNickname">Network</th>
        <th data-sortable="true" data-field="dcNetVlan">vLan</th>
        <th data-sortable="true" data-field="dcNetDesc">Description</th>
        <th data-sortable="true" data-field="dcNetGateway">Gateway</th>
        <th data-sortable="true" data-field="dcNetDomain">Domain</th>
        <th data-sortable="true" data-field="dcNetSettings">Settings</th>
      </tr>
    </thead>
    <tbody>
      {{#each networks}}
        <tr>
          <td>
           {{#if ../access.edit}}
            <form id="netEditForm{{@index}}" role="form" action="/location/network/{{id}}-{{dcNetId}}" method="GET"></form>
            <form id="netCopyForm{{@index}}" role="form" action="/location/network/{{id}}-{{dcNetId}}~copy" method="GET"></form>
            <a href="#" onclick="document.getElementById('netEditForm{{@index}}').submit();return false;" title="Edit">
            <span class="glyphicon glyphicon-edit glyphicon-danger"></span></a>

             <a href="#" onclick="document.getElementById('netCopyForm{{@index}}').submit();return false;" title="Copy">
             <span class="glyphicon glyphicon-plus-sign glyphicon-danger"></span></a>
               {{/if}}  {{@index}}</td>
               <td>{{dcNetType}}</td>
               <td>{{dcNetUnique}}<br><br>Start {{ipLowStr}}<br>End {{ipHighStr}}<br>Mask {{prefixMaskStr}}</td>
               <td>{{dcNetVlan}}</td>
               <td>{{{dcNetDesc}}}</td>
               <td>{{dcNetGateway}}</td>
               <td>{{dcNetDomain}}</td>
               <td>
                  {{#if iPRangeipLowStr}}Low Range: {{iPRangeipLowStr}}<br>
                                         High Range: {{iPRangeipHighStr}}<br>
                                    Mask String: {{iPRangeprefixMaskStr}}<br>{{/if}}
                  {{#if dcNetDns1}}Primary DNS: {{dcNetDns1}}<br>{{/if}}
                  {{#if dcNetDns2}}Secondary DNS: {{dcNetDns2}}<br>{{/if}}
                  {{#if dcNetNTP1}}Primary NTP: {{dcNetNTP1}}<br>{{/if}}
                  {{#if dcNetNTP2}}Secondary NTP: {{dcNetNTP2}}<br>{{/if}}
                  {{#if dcNetLdap1}}Primary LDAP: {{dcNetLdap1}}<br>{{/if}}
                  {{#if dcNetLdap2}}Secondary LDAP:{{dcNetLdap2}}<br>{{/if}}
                  {{#if dcNetLdapString}}Secondary LDAP:{{dcNetLdapString}}<br>{{/if}}
                  {{#if dcNetTftpHost}}TFTP Host: {{dcNetTftpHost}}<br>{{/if}}
                  {{#if dcNetACSFilePath}}ACS TFTP File Path: {{dcNetACSFilePath}}<br>{{/if}}

            </td>
          </tr>
            {{/each}}
      </tbody>
    </table>


