<div>
`{{#if access.edit}}
  <a href="/location/rackpower/{{rackUnique}}/new"><button class="btn btn-danger btn-sm"> Power</button></a>
        {{else}}<h4>Power</h4>{{/if}}

  <table {{> bootstrap-table}} >
    <thead>
      <tr>
        {{#if access.edit}}<th data-sortable="true" data-field="rackEdit">Edit</th>{{/if}}
        <th data-sortable="true" data-field="rackPowUnique">Circuit</th>
        <th data-sortable="true" data-field="rackPowStatus">Status</th>
        <th data-sortable="true" data-field="rackPowVolts">Volts</th>
        <th data-sortable="true" data-field="rackPowPhase">Phase</th>
        <th data-sortable="true" data-field="rackPowAmps">Amps</th>
        <th data-sortable="true" data-field="rackPowReceptacle ">Receptical</th>
        <th data-sortable="true" data-field="createdOn">Created On</th>
        <th data-sortable="true" data-field="modifiedOn">Last Modified</th>
      </tr>
    </thead>
    <tbody>
    {{#each powers}}
      <tr>
      {{#if ../access.edit}}
        <td>
          <a href="/location/rackpower/{{../../rackUnique}}/edit?powerUnique={{rackPowId}}" >
          <span class="glyphicon glyphicon-edit glyphicon-danger"></span></a>
          <a href="/location/rackpower/{{../../rackUnique}}/copy?powerUnique={{rackPowId}}">
          <span class="glyphicon glyphicon-plus-sign glyphicon-danger"></span></a>
        </td>
        {{/if}}
        <td>{{rackPowUnique}}</td>
        <td>{{rackPowStatus}}</td>
        <td>{{rackPowVolts}}</td>
        <td>{{rackPowPhase}}</td>
        <td>{{rackPowAmps}}</td>
        <td>{{rackPowReceptacle}}</td>
        <td>{{createdOn}}</td>
        <td>{{modifiedOn}}</td>
      </tr>
    {{/each}}
  </tbody>
  </table>
</div>

