<h4><a href="/location/rack/circuit~{{rackUnique}}>new">Power</a></h4>
    <div class='container'> 
    <div id="dvData">
    <table id="toCSV" class="table-sort table-sort-search " style="overflow: scroll;">
        <thead>
            <tr>
                <th class="table-sort" data-sort="rackPowUnique">Circuit</th>
                <th class="table-sort" data-sort="rackPowStatus">Status</th>
                <th class="table-sort" data-sort="rackPowVolts">Volts</th>
                <th class="table-sort" data-sort="rackPowPhase">Phase</th>
                <th class="table-sort" data-sort="rackPowAmps">Amps</th>
                <th class="table-sort" data-sort="rackPowReceptacle ">Receptical</th>
                <th class="table-sort" data-sort="createdOn">Created On</th> 
                <th class="table-sort" data-sort="modifiedOn">Last Modified</th>
                <th class="table-sort" data-sort="rackEdit">Edit<th>
            </tr>
        </thead>
        <tbody class="list">
        {{#each powers}}
            <tr>
                
                <td class="rackPowUnique"><a href="/location/rack/circuit~{{../rackUnique}}>{{rackPowId}}"  target="_blank">{{rackPowUnique}}</a></td>
                <td class="rackPowStatus">{{rackPowStatus}}</td>
                <td class="rackPowVolts">{{rackPowVolts}}</td>
                <td class="rackPowPhase">{{rackPowPhase}}</td>
                <td class="rackPowAmps">{{rackPowAmps}}</td>
                <td class="rackPowReceptacle">{{rackPowReceptacle}}</td>
                <td class="createdOn">{{createdOn}}</td>
                <td class="modifiedOn">{{modifiedOn}}</td>
                <td class="rackEdit"><form id=formEdit></form>{{!--this is for the edit button both button sit outside the forms so they do not conflict --}}
                <form id=formCopy><input type="hidden" name="wasCopy" value="{{wasCopy}}"></form>
                <input type='submit' class='btn btn-warning btn-xs' formaction='/location/rack/circuit~{{../rackUnique}}>{{rackPowId}}' form="formEdit" formmethod="get" value='E'>
                <input type='submit' class='btn btn-info btn-xs' formaction='/location/rack/circuitcopy~{{../rackUnique}}>{{rackPowId}}' form="formCopy" formmethod="get" value='C'></td>
            </tr>  
        {{/each}}
  
        </tbody>
    </table>
    </div>
        {{> tocsvpartial }}
    </div> 